[2017-10-20 16:25] jeremydaly opened #1 "Add res.location() convenience method for setting location header"
Like Express, create a way to set the `location` header:
[code]

This would **NOT** set a status code or complete the request. A call to `res.send()` or some other execution ending call would need to be made.

[2017-10-20 16:29] jeremydaly opened #2 "Add res.redirect() convenience method for issuing redirect"
Like Express, this should redirect to the URL derived from the specified path, with specified status, a positive integer that corresponds to an HTTP status code. If not specified, status defaults to “302 “Found”.

[code]

A call to this method would end the execution and return the response to the client. There may need to be some default language here.

[2017-10-20 16:33] jeremydaly opened #3 "Add res.cookie() method for setting client cookies"
This method would set the HTTP Set-Cookie header with the options provided. There would need to be some defaults as well.

[code]

This method would **NOT** send the response to the browser until something like `res.send()` is called.

[2017-10-20 16:35] jeremydaly opened #4 "Add res.clearCookie() method for clearing client cookies"
Method to clear cookie by name and optional arguments.

[code]

This method does **NOT** send a response to the client until an ending call is made.

[2017-10-20 16:41] jeremydaly opened #5 "Add res.sendFile() method for sending files to client"
Since this is meant for Lambda, it should load files from an alternate source, such as S3. The only file that might make sense to host in the Lambda function itself is the favicon.ico, since browsers will automatically request that.

In the case where you are protecting file access, a redirect to an S3 bucket might make more sense. I guess it is possible to load the file from S3 and transfer throu

[2018-03-15 16:50] jeremydaly commented on #1
Completed in v0.2.0

[2018-03-15 16:50] #1 closed

[2018-03-15 16:50] jeremydaly commented on #2
Completed in v0.2.0

[2018-03-15 16:50] #2 closed

[2018-03-20 15:40] jeremydaly opened #11 "Route prefixing with register() method"
I like how Fastify provides a `register()` method to handle route prefixing and a convenience method for loading routes from an external file. Right now you can add external routes by exporting routes with a reference to the API instance. This is sort of messy and I like the idea of adding the convenience method.

[2018-03-20 15:44] jeremydaly opened #12 "Add jsonp convenience method"
Simple callback wrapper for JSONP requests. The callback name will default to `callback`, but can be changed by using the  following querystring parameter: `?callback=foo`.

[2018-03-20 16:39] jeremydaly commented on #12
Added additional support for changing the querystring parameter name.

[2018-03-21 19:09] #3 closed

[2018-03-21 19:09] #4 closed

[2018-03-21 19:09] #12 closed

[2018-03-21 19:23] jeremydaly opened #14 "Fix for the favicon 403/404 error"
When accessing API Gateway directly through a web browser, you get an annoying 403/404 error depending on how you've configured your proxy. This may be a non-issue for API use cases, but if you are using API Gateway to return HTML content, then it will keep happening.

Maybe there should be a default route for `/favicon.ico` responses that simple returns a blank image. It could be overridden with

[2018-03-23 20:51] jeremydaly opened #15 "Lowercase Content-Type for application/x-www-form-urlencoded fails auto parsing"
If the `Content-Type` header is passed in all lowercase (or any other case that doesn't match exactly) with `application/x-www-form-urlencoded`, it fails to auto parse the form encoded body.

The header needs to be converted to lowercase for comparison.

[2018-03-23 21:19] jeremydaly commented on #15
Looks like new AWS CloudFront distributions for API Gateway custom domains default to `HTTP/2` support, which apparently defaults the headers to lowercase.

[2018-03-23 21:53] jeremydaly commented on #15
HTTP/2 requires all request and response headers to be lowercase, otherwise they are considered "malformed."

**From https://tools.ietf.org/html/rfc7540:**

*"Just as in HTTP/1.x, header field names are strings of ASCII characters that are compared in a case-insensitive fashion.  However, header field names MUST be converted to lowercase prior to their encoding in HTTP/2.  A request or response co

[2018-03-23 22:01] #15 closed

[2018-03-27 15:38] jeremydaly commented on #5
API Gateway supports binary payloads (https://docs.aws.amazon.com/apigateway/latest/developerguide/api-gateway-payload-encodings.html). There generally aren't charges for data transfers within a region, so it might make sense to transfer the file directly through APIG.

Appropriate cache headers should be set as well.

[2018-03-28 01:55] jeremydaly commented on #11
I've added this function in and have enabled a recursive strategy allowing you to nest multiple levels. Options is not required, but allows you to specify a prefix as well as any other data you'd like to pass through. Still need to add the documentation.

[2018-03-28 14:40] jeremydaly opened #17 "Add support for multiple params between slashes"
The following should be supported to allow for more complex URL patterns.

[code]

[2018-03-28 14:41] jeremydaly opened #18 "Add patch() convenience method"

[2018-03-28 14:51] jeremydaly opened #19 "Add 'head' http method support"
It would be useful to have the ability to also process `HEAD` requests as an alternative to `GET` if you're looking for just the headers. While I suppose that we could create a `head()` convenience method, it seems like a lot of duplicate work.

Without being overly opinionated, Lambda API could respond to any `HEAD` request so long as there was a corresponding `GET` route for it and then short ci

[2018-03-28 14:54] jeremydaly opened #20 "Add additional support for wildcard routes"
Wildcard routes are useful mostly for `OPTIONS` calls, which are necessary for preflight CORS checks. If you are splitting your app into multiple functions, being able to wildcard just certain paths would be very useful.

[2018-03-28 15:33] jeremydaly opened #21 "Add convenience methods for CORS support"
This seems like too common of a use case to require middleware every time to accomplish this. The method below is one way of handling preflight requests now.

[code]

There are six response headers documented here: https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS

- Access-Control-Allow-Origin
- Access-Control-Expose-Headers
- Access-Control-Max-Age
- Access-Control-Allow-Credentials
- Acces

[2018-03-28 21:34] jeremydaly commented on #5
This was more of a pain than I thought, but I have a basic version of this working correctly now. However, it does require a manual configuration in API Gateway in order to enable Binary Media Types. This is simple enough, but then has the side effect of encoding all content in the `body` coming into Lambda as base64. There is a flag sent (`isBase64Encoded`), so it is easy enough to decode if nece

[2018-03-30 21:16] jeremydaly opened #22 "Add Etag support"
While working on cache control for the `sendFile()` method, I did some additional research into the `Etag` header. Seems easy enough to implement and could be useful for saving data transfer fees in Lambda.

[2018-03-31 00:22] jeremydaly opened #23 "Add getHeader() response method"
Add a `getHeader()` method on the `RESPONSE` object to retrieve all current headers OR a specific header if passed as an argument, e.g `res.getHeader('Content-Type')`.

This should ignore case as well.

[2018-03-31 01:14] jeremydaly opened #24 "Add format() method"
Add a `format()` method to the `RESPONSE` object that can negotiate the response based on the `Accept` header. Similar to https://expressjs.com/en/api.html#res.format

[2018-04-02 01:46] jeremydaly commented on #14
This depends on the use case of the API and whether or not it serves responses to the root path. v0.4 lets you easily serve a custom `favicon.ico` file using `sendFile()`, so I don't think there is a need to add this in as a default function.

[2018-04-02 01:46] #14 closed

[2018-04-02 01:51] #11 closed

[2018-04-02 01:51] #18 closed

[2018-04-02 12:17] jeremydaly commented on #5
Implemented in v0.4.0

[2018-04-02 12:17] #5 closed

[2018-04-03 14:14] jeremydaly opened #26 "Implement async / await instead of Bluebird promises"
Node 8.10 runtime is now available in Lambda! https://aws.amazon.com/blogs/compute/node-js-8-10-runtime-now-available-in-aws-lambda/

I'd really like to refactor to use async / await instead of Bluebird so that I can remove ALL dependencies from Lambda API. I think we're early enough into this project to to require the 8.10 runtime in our Lambda functions.

I'm currently using a `Promise.each()` t

[2018-04-03 14:17] jeremydaly opened #27 "Create documentation site"
After the latest release, the README.md file is getting a bit unwieldy. There are a lot of features now, and I like to give more examples and show potential use cases.

I guess I could start using JSDoc and create it from that, rather than trying to maintain the docs separately. Suggestions would be welcome.

[2018-04-06 15:06] matt-filion opened #28 "TypeScript Definition File"
Its not uncommon to use TypeScript over top of node.js and being able to reference a TypeScript model would help a ton when using lambda-api in that context.

[2018-04-06 15:08] chanlito commented on #28
@matt-filion totally agree, if only there's a tool to generate some d.ts files from existing JS code that'd would be helpful.

[2018-04-06 15:27] matt-filion commented on #28
You could always do the inverse, write in TypeScript and let it generate JS... :-) I kid.
TypeScript definitions are fairly easy to keep up to date as they only expose public structures and functions.

[2018-04-06 15:34] jeremydaly commented on #28
Ha, definitely don't want to convert this to TypeScript, but the definition file would make sense.

[2018-04-23 19:55] jeremydaly commented on #23
Had to add a loop to search for case insensitive matches. Might need to eventually rewrite the `headers()` method to store everything as lowercase.

[2018-04-23 21:54] jeremydaly commented on #21
Implemented a version of this with some standard defaults. You can simply call `res.cors()` and it will add all the defaults. You can override defaults as well as make incremental changes by passing in an options object.

[2018-04-24 13:26] jeremydaly commented on #24
After some more thought, I'm going to hold off on this for now. I'm not sure how common this is as I'd assume most APIs are built to respond with JSON as the default regardless of the `Accepts` header. The same is true if responding to a request for HTML or a binary file. Devs could implement a version of this themselves if it was critical to their application.

[2018-04-24 14:02] jeremydaly commented on #20
I've experimented with a few ways to do this. Initially I added the wildcard detection to the path traversal method, meaning a wildcard path would match any unmatched path. This screwed up some tests because now there were no more `not found` errors. I've decided to implement wildcards after path discovery. Basically this means that a path has to be defined using at least one method in order for a

[2018-04-24 14:38] jeremydaly commented on #20
Implemented in v0.5.

[2018-04-24 17:04] jeremydaly commented on #23
This was bothering me, so I rewrote `headers()` to now store keys in all lowercase. This makes the other header methods simpler. I took out the loop for the case matching and added a `hasHeader()` and `removeHeader()` method as well.

[2018-04-24 18:41] jeremydaly opened #29 "Update tests to use async/await"
Now that v0.5 removes the Bluebird dependency, tests should be updated to use async/await instead of promises.

[2018-04-24 19:29] jeremydaly opened #30 "Experiment with HTTP/2 Server Push"
The implementation is fairly simple on an Apache server, so I think adding a `Link` header might work in an APIG/Lambda environment. Maybe. Any thoughts on this are welcome.

[2018-04-24 21:26] jeremydaly opened #31 "Add support for any() or all() convenience method"
Saw this in a few places and it could be used to solve some use cases. Devs would need to handle the `METHOD` on there own.

[2018-04-24 21:30] jeremydaly opened #32 "Allow for multiple methods in METHOD call"
Was thinking that you could define a route for multiple methods using an array of methods in a `METHOD` call.  For example, `api.METHOD([ 'post', 'put' ], '/some/path', (req,res)=> {})`

This would be similar to the idea of an `any()` convenience method, but would restrict the allowable methods.

[2018-04-24 21:33] jeremydaly opened #33 "Add prettyPrint() method for debugging routes"

[2018-04-24 21:38] jeremydaly commented on #17
Need to think about this more. This would be incredibly slow given the way route traversal works. Not sure if it is even that common of a use case. The above example could be accomplished with a standard parameterized path and then could parse the pattern.

Let me know if anyone really needs this.

[2018-04-25 19:45] jeremydaly opened #34 "Benchmark tests"
I've run some preliminary speed test and I've been consistently clocking Lambda functions running Lambda API at less that 0.68 ms for total execution time. This is will several configured routes. I'd like to set up some benchmark tests to compare this to other popular frameworks running on top of AWS Lambda.

[2018-04-25 19:47] jeremydaly opened #35 "Add head() convenience method"
I've implemented support for `HEAD` requests in v0.5 (#19), but I'd like to add a convenience method to override specific calls.

[2018-04-25 20:15] #19 closed

[2018-04-25 20:15] #20 closed

[2018-04-25 20:15] #21 closed

[2018-04-25 20:15] #23 closed

[2018-04-25 20:15] #26 closed

[2018-04-25 20:15] #29 closed

[2018-04-27 10:27] erdii opened #37 "API Gateway alternative"
Hey :) Cool library!

Would it be possible to use https://github.com/coopernurse/caddy-awslambda instead of API Gateway in front of lambda?

I guess some work would have to be done, bc the request envelope formats for the two "proxies" differ.

Do you think this is easy to integrate? I would be happy to supply a pull request with all needed changes/extensions 👍

[2018-04-27 12:14] jeremydaly commented on #37
Hi @erdii,

It's already possible to use alternative gateways with Lambda API. You will just have to modify the `event` before passing it into the `.run` method. Caddy Server also requires a different `reply`, so this can be done by short-circuiting the `callback` method:

[code]

You could build a plugin for this and give users methods to do the two conversions and simply require the dependency.

[2018-04-29 09:03] erdii commented on #37
very cool @jeremydaly! I will write a plugin that does exactly what you described.

[2018-04-29 19:00] jeremydaly commented on #37
Great! Ping me when it's done and I'll post a link. Thanks!

[2018-04-30 09:37] erdii commented on #37
Sadly our company decided against using lambda-api because the project has "only" 2 devs and is not very old. We will use https://github.com/awslabs/aws-serverless-express, BUT the remapping from caddy's envelope format to the api-gateway format should be the exact same thing.

Will ping you definitely!

[2018-04-30 14:02] jeremydaly commented on #37
No worries. This library is still early, so there is still much to do. I'd be curious to see some benchmarks with aws-serverless-express and how the dependencies affect cold start and execution times.

[2018-05-01 19:54] jeremydaly opened #38 "Script execution continues after .send()"
The `.send()` method is returning the correct route data but isn't terminating execution of the script.

[2018-05-01 20:56] #38 closed

[2018-05-02 15:39] jeremydaly opened #40 "Add authorization parsing methods"
For most of my apps I'm extracting a bearer token from the `authorization` header. Might be nice to have this common use case canned. I'll also need to research some other common forms and see if those will be easy enough to implement as well.

[2018-05-15 22:03] jeremydaly commented on #40
I did some research using this as a reference: https://www.iana.org/assignments/http-authschemes/http-authschemes.xhtml. It looks like most of these boil down to just using the `Bearer` method. JWT and OAuth2 are passed with Bearer, so other than maybe supporting `Basic`, which seems like a bad idea, I'm not sure there is a need to provide convenience methods for the others.

If someone is still u

[2018-05-15 23:47] jeremydaly commented on #40
Added support for `Bearer`, `Basic`, `Digest` and `OAuth`. It returns an object with a `type` and `value` that contain the appropriate values. `Basic` will decode the base64 value and extend the object with `username` and `password`. `OAuth` will extend the object with key/value pairs for all the inputs.

[2018-05-16 00:16] jeremydaly commented on #35
This was implemented fairly easily. I had to change aliasing for `GET` requests slightly so that `HEAD` requests take precedence. `HEAD` requests return blank bodies as well.

[2018-05-16 00:16] #35 closed

[2018-05-16 00:17] #40 closed

[2018-05-16 00:23] jeremydaly opened #41 "Restrict middleware to certain paths"

[2018-05-16 18:38] jeremydaly commented on #33
I added in a `routes()` method instead of "prettyPrint" so that it has some more flexibility. The default behavior is to return an array of your configured routes. You can also pass `true` to the `routes()` method and it will log your routes to the console as a formatted table.

[2018-05-16 18:38] #33 closed

[2018-05-16 19:03] jeremydaly commented on #22
There are a lot of possible capabilities with this, including concurrency control for updating resources. I'm going to add that as a separate potential capability.

[2018-05-16 19:04] jeremydaly opened #42 "Concurrency control with Etag"
The majority of the work would still need to be handled by the developer, but there could be some convenience methods that made this easier to implement.

[2018-05-16 20:25] jeremydaly commented on #22
I've added preliminary support for this, but it needs to be enabled on each response by using the chainable `etag()` method.

[2018-05-16 20:25] #22 closed

[2018-05-16 21:02] jeremydaly commented on #31
I'm going to stick to the `ANY` convention of API Gateway.

[2018-05-16 23:06] jeremydaly commented on #31
The first part of this was straight forward. I added a new method called `ANY` directly to the `routes` structure. I had to change the priority of processing for `HEAD` aliasing so that wildcard routes (including `ANY` wildcards) process before default aliasing for `HEAD` requests. All the tests continue to pass, so I'm pretty sure this is the preferred behavior.

[2018-05-16 23:06] #31 closed

[2018-05-16 23:56] jeremydaly commented on #32
Implemented. I'm looking the methods here, but since most instances just have 1, there should be no performance impact.

[2018-05-16 23:56] #32 closed

[2018-06-03 04:35] nmodi opened #44 "Request continues after res.json()?"
I'm thinking this may be an async issue with dynamo db, but I'm not sure. Here is the offending function:

[code]

(using babel/webpack for import/export syntax)

main app code is here:

[code]

For some reason, objects are still getting stored in the database even if they fail validation (and the correct 400 response is sent back). The request is supposed to stop there when you use the res.json()

[2018-06-03 11:56] jeremydaly commented on #44
Which version are you using?

[2018-06-04 03:39] nmodi commented on #44
`"lambda-api": "^0.6.0",`

[2018-06-04 14:37] jeremydaly commented on #44
@nmodi, I see the problem. Yes, `res.json()` triggers the callback, but doesn't necessarily terminate script execution. Looking at your code, I see two ways to solve this.

1. You can add an `else` statement after your `if (validation.error) {` code block. This would stop the DynamoDB code from executing.
1. You can add a `return` in front of your `res.status(400).json(...` error. This should also

[2018-06-04 16:08] nmodi commented on #44
Got it, that makes sense. I was confused by this line in the documentation: "NOTE: Middleware can use either callbacks like res.send() or return to trigger a response to the user. Please note that calling either one of these from within a middleware function will terminate execution and return the response immediately."

But I see now you were talking strictly about middleware there not routes.

T

[2018-06-04 16:08] #44 closed

[2018-06-04 17:15] jeremydaly commented on #44
Sorry it was confusing. I'll note this and make sure that I update the documentation to be more clear.

[2018-06-11 17:43] jeremydaly opened #45 "Add additional logging support"
Provide a logging mechanism to help developers control logging through logging levels as well as provide additional context information about each log entry.

It should support (at a minimum): info, error, debug, fatal, warn

Logs should be in JSON format and contain timestamp, route info, etc.

[2018-06-11 17:48] jeremydaly opened #46 "Middleware integrations"
Add support for other web framework middleware.

[2018-06-11 18:15] jeremydaly opened #47 "Add additional context information from Lambda"
From https://docs.aws.amazon.com/lambda/latest/dg/nodejs-prog-model-context.html. These values are available via the `req._context` object, but some of these could be baked in.

[code]

[2018-06-16 03:05] #41 closed

[2018-06-16 03:05] #47 closed

[2018-06-23 21:03] jeremydaly opened #49 "Implement convenience methods for cache control headers"
You can send `cache-control`, `last-modified` and `expires` headers with static files, but not with routes. There should be convenience methods to add these headers to JSON, HTML and other text outputs.

[2018-06-23 21:08] jeremydaly opened #50 "Support for multiple middleware in "use" method"
Similar to express, being able to specify multiple middleware handlers using a single `use` statement could be useful.

[code]

[2018-06-23 21:14] jeremydaly commented on #45
To clarity, AWS Lambda has built in (fairly efficient) logging. Developers can certainly implement their own logging, but having it write a standard format with additional internals about the route executed would be helpful (IMO).

The format should be configurable, probably through a transformation object.

[2018-06-27 12:42] rodrigoreis22 opened #51 "Improvement on documentation for use with db connection pools"
Lost quite some time on this so I think it would be a good idea to put in the docs.. let me know if you want me to create a pull request..

The problem is when you have a connection pool outside your lambda handler code (I use mongoose/mongodb).. in that case the event loop never ends and your function always time out.
In that case you must add the following code inside your handler:
[code]

Compl

[2018-06-27 13:01] jeremydaly commented on #51
Thanks for reporting this @rodrigoreis22. I hadn't mentioned this in the docs because it isn't necessary for Lambda API if you're not using persistent database connections. I do reference it in the sample project: https://github.com/jeremydaly/serverless-api-sample/blob/master/handler.js#L116

However, I think it would be a good idea to add it to the docs since this is a common use case. A PR woul

[2018-06-27 13:23] jeremydaly opened #52 "Support for async/await main handler"
Now that Lambda supports v8.10, we should be able to declare our main handler like this:

[code]

This should be optional for backwards compatibility.

[2018-06-28 18:10] abmohan opened #53 "Add support to run standalone API server locally"
`sls invoke` is useful for testing our API one request at a time.

It would be nice to spin up a local version of the API on localhost to enable us to develop our frontend apps against it, and to more easily run integration and E2E tests.

[2018-07-05 22:01] abmohan commented on #28
@jeremydaly - I'm going to take a stab at this.

Would you mind a pull request to the repo with the typings, or would you prefer they be uploaded to DefinitelyTyped?

[2018-07-05 23:11] jeremydaly commented on #28
@abmohan, I think a pull request including the .d.ts files would be awesome!

[2018-07-06 00:37] abmohan commented on #28
I'm on it! To the v0.8.0 branch?

[2018-07-06 00:47] jeremydaly commented on #28
Yes, that would be great.

[2018-07-08 03:46] psteger commented on #45
So I know we touched on this a bit but it was several weeks ago now and regardless I'd like to get info down in writing.

1) Is your idea something along the lines of Fastify where it implements different log levels with a logger object during instantiation? Basically, if someone instantiates Lambda-API with {logger: true} it defaults to using console.log(...) but if they specify {logger: {level:

[2018-07-08 15:57] jeremydaly commented on #45
@psteger, yes, my intention was to follow something similar to Fastify. They attach a `log` property to their `request` object and then allow you to set a level after that, e.g. `request.log.info`. They use Pino behind the scenes, but since we are logging with Lambda, there is no need for any additional dependencies.

I like the idea of following the log levels and priorities of Pino: https://gith

[2018-07-08 16:09] jeremydaly commented on #53
@abmohan, this is a great idea. This might be possible with the `serverless-offline` plugin, but it would be nice to have a solution that wasn't tethered to a single framework. I'll do some investigating, but any ideas you have would be appreciated!

[2018-07-09 01:11] abmohan commented on #53
Thanks, @jeremydaly. I was thinking of trying to wrap it in an express app for this purpose but opted to just go with `serverless-offline`, since we're using `serverless` for the rest of our build process as well.

If you do come up with an idea and would like some help putting it together, I'm happy to give it a shot!

[2018-07-11 20:44] jeremydaly commented on #52
Added in some magic to make this happen, but if used, route functions need to use async/await. Might need some more testing.

[2018-07-20 21:04] nathan-osg opened #54 "Downloaded zip files result in Base 64 encoded files."
First of all, just wanted to say nice work! It's nice to have such a streamlined library for use within a Lambda!

I'm trying to use the library for some downloading of binary files from S3... usually Zip file. This was incredibly easy to get set up! And yes, I did follow the instructions to enable binary mode by adding */* in API Gateway.

The problem I am having is that I can't unzip the file af

[2018-07-20 21:27] nathan-osg opened #55 "Add streaming support for binary files to sendFile()"
As I was looking into a separate issue where my files are coming out base64 encoded, I was browsing the sendFile() code. I noticed that when retrieving a file from S3, it retrieves the whole object before sending it back to the requester:

`let data = await S3.getObject(params).promise()`

This may be fine for smallish files, but for large files, this could potentially consume a TON of memory. A m

[2018-07-20 21:32] nathan-osg commented on #55
Grr... looking a little further, it would seem that the JS version of Lambda may not have a way to return a stream back to API gateway, however. :(  (The Java version does)

https://stackoverflow.com/questions/39381139/how-to-stream-aws-lambda-response-in-node

[2018-07-20 22:34] nathan-osg commented on #55
Just FYI, I posted to the AWS forums asking if there were any plans to add stream input/output support to Lambda on Node... not sure if it will bear any fruit.

https://forums.aws.amazon.com/thread.jspa?threadID=286462

This is a pretty big bummer for me... :(

[2018-07-21 01:41] jeremydaly commented on #54
Hi @nathan-osg,

I just tried a zipped file through S3 and I didn't have any problems with the encoding. Lambda API doesn't use the CONVERT_TO_BINARY option because it relies on API Gateway's base64 support for binary files. The response from Lambda API sets `isBase64Encoded` to `true` for all file transfers. API Gateway should then decode the file and deliver it properly to your browser.

Can you

[2018-07-21 01:44] jeremydaly commented on #55
Yes, Lambda doesn't support file streaming to API Gateway. Lambda API isn't really designed for loading really large files anyway. However, if you did need to let users download large files from S3, you could use Lambda API to generate access tokens and then use `res.redirect()` to send them to the S3 bucket URL.

[2018-07-21 04:10] nathan-osg commented on #54
Sure! I just tried a GIF and got the same result. It could not be opened until after I manually Base64 decoded it.

The lambda-api code clearly seems to be doing the encoding, but it seems to me that your API gateway is decoding your binary whereas mine is not for some reason. So, I'm wondering if we have a difference in our gateway.

Do you have anything set on your method response?

[2018-07-21 04:54] jeremydaly commented on #54
The only configurations should be setting the integration type to Lambda Proxy and adding `*/*` for the binary media types.

How are you standing up the API Gateway? Manually, or with a framework like Serverless or SAM?

[2018-07-21 11:46] jeremydaly commented on #54
@nathan-osg, I just created a brand new API from scratch and just added the binary media type `*/*` and then redeployed the API and the base64 encoding/decoding is working. I used the Serverless framework to deploy everything.

[2018-07-21 12:00] jeremydaly commented on #55
I did a little more research, and you can use `getSignedUrl()`, documented here: https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/AWS/S3.html#getSignedUrl-property

This would create a temporary link that you could then redirect the user to. I think I'm going to add this as a feature.

[2018-07-21 12:04] jeremydaly opened #56 "Add support for creating temporary S3 links"
Lambda API isn't designed for loading large files since it has to redirect them through API Gateway and there is no streaming support. So instead, it makes more sense to redirect the user to an S3 bucket. The SDK supports `getSignedUrl`, which will use Lambda's S3 credentials to generate a temporary link to an S3 file. I think this would be a nice convenience feature.

Documented here: https://doc

[2018-07-27 03:17] #55 closed

[2018-08-03 19:16] singledigit opened #57 "CORS is not being implemented"
I am implementing CORS through your example of the options/wildcard implementation. I am sure I am doing something wrong, but I believe this should work.

[code]

Any thoughts?

[2018-08-03 21:21] singledigit commented on #57
Ugh... found the answer. I was using this against sam-cli and there was an issue that the options requests were not being passed to the lambda. This was fixed in version 0.4.0.

[2018-08-03 21:21] #57 closed

[2018-08-12 04:15] tolidano opened #58 "Add support for other API Gateway inputs and CloudFront Lambda@Edge functions"
There are request parsing differences with CloudFront as the event is structured differently:
https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/lambda-event-structure.html

Additionally, some items from API GW do not propagate:
https://docs.aws.amazon.com/apigateway/latest/developerguide/set-up-lambda-proxy-integrations.html#api-gateway-simple-proxy-for-lambda-input-format
- stage

[2018-08-12 17:55] tolidano commented on #17
this seems more consistent and just as good, if not better than the pattern above:
`api.get('/example/lat/:lat/lng/:lng/radius/:r', (req,res) => { })`

[2018-08-12 21:33] jeremydaly commented on #58
This is something I've been thinking about for awhile. Thanks for the ticket.

[2018-08-14 21:04] jeremydaly commented on #50
This was implemented in v0.8

[2018-08-14 21:05] jeremydaly commented on #49
This was implemented in v0.8

[2018-08-14 21:05] jeremydaly commented on #51
This has been added in v0.8

[2018-08-21 06:50] #45 closed

[2018-08-21 19:26] jeremydaly commented on #17
Closing this for now as I don't think there is enough interest. We'll revisit if the issue comes up again.

[2018-08-21 19:26] #17 closed

[2018-08-22 05:03] NateRedding commented on #54
Cool, thanks for the effort to find a solution here. I haven't gotten a chance to revisit this really... been busy with my other job. That said, a basic redirect solution will not work for me as I need additional authorization controls beyond that provided by S3. This "signed url" approach looks quite intriguing though... I may have to investigate that path some more.

[2018-09-10 17:40] compwright commented on #53
I can confirm that lambda-api works perfectly fine with serverless-offline. Note that serverless-offline simulates AWS API Gateway, and provides lambda http events to whatever framework you choose - it's not Express-specific and works just fine with lambda-api.

[2018-09-12 01:06] jeremydaly opened #61 "Error when loading 'register' without options"
[code]

The above throws an error when no object is passed in as the second parameter. This should be defaulted so it isn't `undefined`.

[2018-09-13 14:23] jeremydaly opened #62 "error callback not halting `send()`"
If you don't explicitly `return` an error (e.g. using `throw`), then subsequent `res.send()` requests will leak into the final response.

This might be as simple as checking the `response._state` in the main `_callback` method.

[2018-10-03 18:13] GuidoNebiolo opened #63 "async 404"
Hi,
I'm trying to send a 404 status as response of an endpoint using async and await
[code]
 but I'm receiving a 200 response.

Using the example from the readme I'm getting a 500 error
[code]

If I use another way to write the error it works:
[code]

[2018-10-04 13:32] afterthought opened #64 "Trouble with middleware"
Hi,

Tried setting up a simple example and had trouble with middleware. Can't get middleware example from documentation to work:

    api.use((req,res,next) => {
        if (req.headers.authorization === 'some value') {
            req.authorized = true
            next() // continue execution
        } else {
            res.status(401).error('Not Authorized')
        }
    })

What happens is wh

[2018-10-05 14:44] jeremydaly commented on #63
Thanks for the report. There is another related bug #62, that seems to be causing similar issues.

[2018-10-05 14:45] jeremydaly commented on #64
This appears to be related to bug #62. It is being investigated.

[2018-10-08 17:44] jeremydaly commented on #63
@GuidoNebiolo, after looking at this in more depth, the behavior is expected.

In the first example, you need to use the `.send()` method to trigger a response, or `return` something in order for the response to be generated.

[code]

[2018-10-08 17:44] #63 closed

[2018-10-08 18:19] jeremydaly commented on #64
@afterthought, I've identified the error having to do with using `async/await` for the main handler. The example works using the callback approach.

Working on a patch now.

[2018-10-10 14:59] jeremydaly commented on #62
This was a flow control issue. `res` can't actually stop execution. Adding `return` before an error will exit out of the function properly and stop execution.

[2018-10-10 14:59] #62 closed

[2018-10-10 15:44] #61 closed

[2018-10-10 15:44] #64 closed

[2018-10-15 01:42] Wintereise commented on #28
@abmohan Any updates on this? Just curious.

[2018-10-23 08:06] Wintereise opened #67 "Support for custom serializers (response)"
Currently, it appears an implicit `JSON.stringify` is being used. We internally use https://github.com/typestack/class-transformer to precisely control how something is serialized.

Can we get a hook to override the default serialize function please? I tried feeding it already serialized content, but that simply leads to double JSON serialization.

[2018-10-23 14:17] jeremydaly commented on #67
Hi @Wintereise, I think this makes sense. I will add it to the roadmap.

[2018-10-25 01:27] Wintereise opened #68 "Discreet error types instead of blanket "Error""
Due to the reliance on blanket 'Error,' for example (request.js -> parseRequest()):

The only way to differentiate these two (and others) for example on a custom error handling middleware is via string parsing (which has no guarantee of always remaining the same).

Would it not be a good idea if we had some custom types that we could run `instanceof` on for these things? I understand that the list

[2018-11-01 18:55] jeremydaly commented on #67
Hi @Wintereise, I'm hoping to push a new release in the next few weeks.

[2018-11-05 10:09] GuidoNebiolo commented on #53
I can confirm that lambda-api works fine with AWS SAM CLI https://github.com/awslabs/aws-sam-cli

[2018-11-14 15:02] #28 closed

[2018-11-14 15:58] jeremydaly commented on #68
Thanks for the suggestion. There are only a few errors, but this probably makes sense.

[2018-11-15 20:52] jeremydaly commented on #68
Added five error types to v0.9:

[code]

[2018-11-15 21:44] jeremydaly opened #69 "Add support for additional API Gateway inputs"
Splitting this out from #58.

Some items from API GW do not propagate:
https://docs.aws.amazon.com/apigateway/latest/developerguide/set-up-lambda-proxy-integrations.html#api-gateway-simple-proxy-for-lambda-input-format

- stageVariables
- pathParameters
- it may be useful to expose the isBase64encoded flag, even if you are handling it (i.e. determining if the request was b64)

[2018-11-15 21:46] jeremydaly commented on #58
Moved the additional API Gateway input support to a new issue #69.

[2018-11-15 21:47] jeremydaly commented on #58
Besides Lambda@Edge having a different input, it also has a different output depending on how it is invoked. Will need to do some more research on this. Any example use cases?

[2018-11-15 22:17] tolidano commented on #58
Because of the time it takes to deploy a CloudFront distribution and the version requirement, it usually makes sense to do a lot of testing via API Gateway first and once ready for the optimal runtime, push to the edge.

We repeatedly used this during testing some edge Lambdas.

[2018-11-15 22:17] Wintereise commented on #68
Sounds good @jeremydaly , thank you!

[2018-11-16 04:00] #67 closed

[2018-11-16 04:00] #68 closed

[2018-11-16 04:00] #69 closed

[2018-11-20 04:02] jeremydaly opened #72 "Add support for multi-value query parameters"
AWS recently announced support for multi-value parameters in Amazon API Gateway (https://aws.amazon.com/blogs/compute/support-for-multi-value-parameters-in-amazon-api-gateway/).

[2018-11-20 04:02] jeremydaly opened #73 "Add support for multi-value headers"
AWS recently announced support for multi-value parameters in Amazon API Gateway (https://aws.amazon.com/blogs/compute/support-for-multi-value-parameters-in-amazon-api-gateway/).

[2018-11-22 05:55] y-udaykiran96 opened #75 "Issue with middleware execution multiple times"
I'm using middleware for every request,
[code]
It's getting executed multiple times per request, logs are mentioned below
[code]
for 1st request, everything is fine, but for later requests, the middleware code is executing multiple times.
Please help me, if any code changes or fix this issue.

[2018-11-22 13:07] jeremydaly commented on #75
Hi @y-udaykiran96! Thanks for reporting this. Seems like strange behavior, so I'll take a look.

[2018-11-26 18:14] jeremydaly commented on #75
Thanks, @y-udaykiran96. I’ll take a look.

[2018-11-26 18:45] jeremydaly commented on #75
@y-udaykiran96, are you placing the `api.use()` call inside of your main handler?

[2018-11-27 05:11] y-udaykiran96 commented on #75
@jeremydaly
No, I'm not using lambda-api in main handler,
I'm forwarding request object to router.js file, which contains lambda-api & all the rest-api segregations.

[2018-11-27 13:33] geovanisouza92 opened #77 "TypeScript definition inconsistent with Lambda funcionality and lambda-api implementation"
At [this line](https://github.com/jeremydaly/lambda-api/blob/881325cbaa699243e3657358838707b9fc729737/index.d.ts#L195) the definition doesn't accept the callback param, and returns an anemic type, instead of a promise, breaking general TS type checking, forcing the consumers to cast the return or force the callback param.

Beyond that, the typing is not aligned with the examples in README.

[2018-11-28 22:31] ceilfors opened #78 "Registering a route without path"
I'm using lambda-api for a single purpose function and would not like to duplicate the path information that I have defined in API Gateway. Is there a way I can achieve this?

*Expected (not working)*

[code]

*Actual*
[code]

[2018-11-28 23:41] jeremydaly commented on #78
Hi @ceilfors! Wildcard paths only work with defined paths, e.g. you want to apply CORS to all paths. You can use path parameters, like `/:param`, but that will only match one level deep. If you need multilevel, you can just define nested params, like `/:param1/:param2`.

[2018-11-29 07:14] ceilfors commented on #78
Hi @jeremydaly! I would like to be able to just register it without defining whether it's a one level deep or multi level. It's a single purpose function and I don't really care about the path when I'm registering them, i.e. when the API gateway path is changed, I don't need to change my code to match the new path definition.

The workaround I have at the moment is to have the registration done dy

[2018-11-29 14:16] harshit-yadav commented on #77
Any update on this ?

[2018-11-30 04:50] harshit-yadav opened #79 "Type script issue class variables are not accesible"
[code]

[code]
this.logger is accessible in constructor but this.logger is not accessible in handle function. And if i am trying to declare any other dependency same issue is accruing with those dependencies.

Serverless: [500] {"headers":{"content-type":"application/json"},"statusCode":500,"body":"{\"error\":\"this.logger.log is not a function\"}","isBase64Encoded":false}

[2018-12-03 16:51] jeremydaly opened #80 "Add support for ALB traffic"
See announcement here: https://aws.amazon.com/blogs/networking-and-content-delivery/lambda-functions-as-targets-for-application-load-balancers/

[2018-12-04 20:04] jeremydaly commented on #77
Hi @geovanisouza92, Typescript support was generously added by members of the community.

I can see the issue with the callback, but can you provide more detail regarding the other examples?

[2018-12-04 20:11] jeremydaly commented on #79
Hi @harshit-yadav,

It appears that the logger isn't accessible because you're only passing a reference to the `handle` function into the API route. You could accomplish this by using [namespaces](https://github.com/jeremydaly/lambda-api#namespaces) to store a reference to your `Logger` object which would then be accessible from the `request` object.

[2018-12-04 21:14] geovanisouza92 commented on #77
The run method should have the signature:

[code]

This way it would be aligned with lambda's `handler` signature and `run` method functionality.

[2018-12-04 22:41] jeremydaly commented on #75
@y-udaykiran96, can you send me the relevant parts of your code? I can't replicate this issue.

[2018-12-04 22:42] jeremydaly commented on #80
I ran a quick test and most of this looks to be supported out of the box. I need to run some additional tests and figure out where there are discrepancies.

[2018-12-05 14:14] #79 closed

[2018-12-05 14:17] jeremydaly opened #82 "Support for WebSockets"
AWS announced native WebSocket support for API Gateway. This should be a fairly simple handshake to upgrade connections to WebSockets, so a convenience method to do this can be easily implemented.

This feature has not yet been released by AWS, but should be coming soon.

[2018-12-05 14:18] #54 closed

[2018-12-05 14:39] jeremydaly commented on #72
A PR for this was merged into the v0.10.0 branch.

[2018-12-05 17:00] GuidoNebiolo commented on #72
opened a new pull request adding test cases

[2018-12-07 15:12] GuidoNebiolo commented on #73
opened a pull request

[2018-12-12 13:30] nickmeldrum opened #85 "Add requestContext.sourceIp fallback for missing x-forwarded-for"
The `REQUEST.ip` property is mapped from the `x-forwarded-for` header instead of the `sourceIp` property on the `event.requestContext` property.

Can you give me the info about why?

The problem I have is when running this in serverless-local to emulate a lambda locally for my testing, the ip comes through as undefined.

[2018-12-12 14:00] jeremydaly commented on #85
Hi @nickmeldrum,

The `x-forwarded-for` is the standard way to extract IP addresses from a proxy so it was implemented that way. This also works with the new ALB routing (which doesn't have an IP address as part of the request context).

However, I can see the issue with your local use case, so I can add a fallback if the `x-forwarded-for` is undefined or null.

Thanks for the report.

- Jeremy

[2018-12-12 15:04] nickmeldrum commented on #85
interesting thanks - is it right for you to add a fallback or for the `serverless-local` package to correctly set the `x-forwarded-for` header i wonder?

[2018-12-12 15:07] jeremydaly commented on #85
Good question, probably the latter. However, I'm adding support for Lambda@Edge functions as well, and according to this documentation (https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/lambda-event-structure.html#lambda-event-structure-request), those events don't contain `x-forwarded-for` either.

There may need to be a number of fallbacks to normalize the client IP address, so

[2018-12-12 15:32] nickmeldrum commented on #85
good info cheers

[2018-12-13 02:00] ToddHoff opened #86 "Thoughts on serving static files?"
First,  lambda-api is great. So useful. Thanks!

 One thing I didn't see is the static file serving equivalent in express. That is:

`app.use(Express.static(Path.join(__dirname,'public')));
`

Any thoughts on how best to do this?

[2018-12-17 22:04] compwright commented on #86
I don't understand why you would do this. Wouldn't it be better to serve the static files from AWS S3? You can mount that onto the URL path of your choice using API Gateway.

[2018-12-19 19:30] mjdickinson opened #87 "Add support for route middleware"
Allow middleware to be added per route in order to support this style of route declaration:

[code]

...where `authenticate`, `authorize` and `validate` are middleware (factory) functions.

[2018-12-20 14:00] jeremydaly commented on #87
This is completely possible. Just to confirm the format:

[code]

What would the signature be of these factory functions? Middleware in Lambda API requires the acceptance of three parameters, `REQUEST`, `RESPONSE` and `next()`. Would you expect `authorize({ role: 'admin' })` to return a function with that signature so that it could be processed like normal middleware? Or are you envisioning someth

[2018-12-20 14:14] jeremydaly commented on #86
@ToddHoff, sorry for jumping in late here. There are several ways to serve static files with Lambda API. You can use the [sendFile method](https://github.com/jeremydaly/lambda-api#sendfilefile--options--callback), which can serve a file that is packaged with your function. So if you wanted to serve a `favicon.ico`, for example, you could package that with your Lambda function and serve that up.

I

[2018-12-20 16:30] nickmeldrum commented on #87
I was just about to add a similar request because I wanted some of my middleware to only operate on a particular `method` as well as `endpoint`.

I was thinking that the `post()` and `get()` methods etc. could allow a `next()` method passed in, which is I think possible in express?

However it looks like this request would also satisfy my request?

[2018-12-20 16:31] nickmeldrum commented on #87
and my 2cents would be exactly as you describe - I would expect my middleware function to have to have the same signature whether I include it like the OP suggested or if I include it using the `api.use()` method.

[2018-12-20 16:48] jeremydaly commented on #87
Not sure we would want to allow `next()` to be passed into route methods, but if route specific middleware uses the same signature as `use()`, then it's entirely possible to read the last parameter as the `handler` and then any proceeding functions as middleware. The middleware would be passed the `REQUEST`, `RESPONSE` and `next()` parameters and would control the execution flow just like normal m

[2018-12-20 18:37] mjdickinson commented on #87
Yes, that's exactly what I had in mind.  Middleware is middleware, whether
it's used in use() or in METHOD().

I see in the current implementation middleware processing and route
handling are implemented independently.  The simplest solution would be to
add route middleware processing into route handling.  But then you end up
with middleware being processed in two places: one for use() middleware

[2018-12-20 18:45] jeremydaly commented on #87
We *could* move middleware processing into the route, but mappings are all preprocessed anyway. So, it might be better to add method filtering to middleware, and then just map it correctly when processing route declarations. That way middleware processing doesn't need to change AND you get the benefit of adding `use` to restrict methods if you wanted to do it that way.

I'm thinking this is just a

[2018-12-20 20:13] mjdickinson commented on #87
You're right, that's probably the simplest.

It just seems a little inelegant to me having routing logic implemented
twice: once to lookup the applicable middleware for an incoming request,
and once to lookup the handler.  Also, with the style of declaring
middleware in route declarations, the list of registered middleware
functions could get quite large - and it gets iterated over on every
reques

[2018-12-20 20:22] jeremydaly commented on #87
Hmm, I see what you mean. Could be useful to use the nested routes tree to store middleware mappings. I'd need to think about how that would work for global middleware though as we'd have to handle wildcard routes too. I wouldn't want global middleware to be tied to each route though, seems as though we could do that higher up the tree.

[2018-12-20 20:48] ToddHoff commented on #86
Yep, that's what I did. Though SAM local seems to pick them up directly from under the public directory.

And thanks for the other suggestions. I'll keep them in mind.

Certainly, no doubt. Part of the issue is it would be cool to test locally by going back and forth between express and lambda-api. It's very close I think.

[2018-12-20 21:02] mjdickinson commented on #87
Agreed.  Global middleware should be attached to the root node (i.e. path
/*).  Other wildcard middleware is attached to the appropriate node as
wildcard middleware (not route specific).

When the tree is walked for an incoming request, applicable wildcard
middleware (including global) is executed as you go.  If a matching route
is found, its middleware (global then route specific) is executed bef

[2018-12-21 22:18] jeremydaly commented on #86
Let me think about this more. Not sure why SAM local would pick it up from the wrong directory, but I'll take a look.

[2018-12-22 05:14] ToddHoff commented on #86
I think it's just something SAM local does automatically. Though I really have no idea what I'm doing. You can specify where it can find static files. My guess is if it sees a public directory it just does the right thing. It's something I discovered by accident.

[2018-12-22 14:35] GuidoNebiolo commented on #73
My first idea was the same, but moving to a separate property complicate the logic of getting or deleting the value of one header.
Moreover with this implementation we can be sure that will not be possible to set different values for the same header.
Don't you thing this?

[2018-12-22 15:49] jeremydaly commented on #73
For headers I agree. I was doing this late last night and was actually referring to the multi-value query parameters. 🤦🏻‍♂️

I need to poke around with the headers a bit, but since this is managed through getters and setters, the storage format will be mostly invisible.

[2018-12-22 16:18] jeremydaly commented on #72
I broke this out into `res.query` and `res.multiValueQuery` so that devs don't need to test for arrays. API Gateway sets the `multiValueQueryStringParameters` for *ALL* query string parameters, so you can always access the latter as arrays.

[2018-12-22 16:31] jeremydaly commented on #73
Ah yes! I've been working on ALB support and there is "optional" multi-value header support, so we need to support both, but I'll use your pull request as the base for this.

Thanks!!!

[2018-12-23 14:51] jeremydaly commented on #73
Well this is fun. API gateway passes through `headers` and `queryStringParameters` as both strings and multi-values. ALB is one or the other depending on the "multi-value headers" support flag.

[2018-12-23 19:37] jeremydaly commented on #73
Parsing REQUEST headers versus formatting RESPONSE headers need to be done differently. I've added a separate `req.multiValueHeaders` property that will allow for more fine-grained control without breaking existing implementations. Headers in the response will use the array format and will be returned based on the interface.

[2018-12-24 16:05] jeremydaly opened #88 "Add "interface" to standard log"
Add new interface detection information to the standard log output.

[2018-12-24 19:32] jthomerson commented on #80
@jeremydaly maybe this will help: https://serverless-training.com/articles/api-gateway-vs-application-load-balancer-technical-details/

[2018-12-24 20:55] jeremydaly commented on #80
@jthomerson, thanks! I discovered quite a bit of this on my own, but great to have this reference.

[2018-12-24 21:00] jeremydaly commented on #82
I played around with the new WebSocket report in API Gateway, but I'm not sure if it makes a ton of sense to add convenience methods for any of this. Still need to play around with binary support and see if that might be useful.

Reference: https://aws.amazon.com/blogs/compute/announcing-websocket-apis-in-amazon-api-gateway/

[2018-12-26 15:11] jeremydaly opened #89 "Capture multiValueQuery in logs"
This introduces a potential breaking change for log parsing. Querystring parameters are strings now, but this would require storing them as an array. Maybe a flag?

[2018-12-26 20:39] jeremydaly commented on #87
I'm thinking about changing the entire execution stack so that even the 'handler route' is just like another piece of middleware, similar to how Express creates their middleware stacks. They essentially have the same signatures (minus the `next()`), so it might be more efficient to build the stack when it parses the request, and then just iterate through all the middlewares.

Need to think about m

[2018-12-31 03:37] brighttank opened #90 "Add support for creating multiple cookies"
In the current implementation setting one cookie will override any previously set cookie.

However, it's quite common to need to set multiple cookie, Eg. a session cookie and a CSRF cookie.

It would be nice to be able to do:
response.cookie('session', 'value', {httpOnly: true});
response.cookie('csrf', 'value, {httpOnly: false});

[2018-12-31 13:49] jeremydaly commented on #90
Hi @brighttank,

This has been addressed in #73 and will be available in v0.10 which should be released soon.

Thanks,
Jeremy

[2018-12-31 13:49] #90 closed

[2018-12-31 13:51] brighttank commented on #90
Fantastic. Keep up the good work!

[2019-01-06 17:00] jeremydaly commented on #87
- [ ] Double check route matching based on method. Should be returning a "Method not allowed" if the route exists.

[2019-01-07 02:01] #77 closed

[2019-01-07 02:01] #78 closed

[2019-01-07 02:01] #85 closed

[2019-01-07 02:01] #80 closed

[2019-01-07 02:01] #87 closed

[2019-01-07 02:01] #88 closed

[2019-01-07 02:01] #89 closed

[2019-01-07 19:51] mjdickinson commented on #87
Thanks!

[2019-01-07 20:05] #72 closed

[2019-01-07 20:07] jeremydaly commented on #75
@y-udaykiran96, can you see if v0.10 fixes the issue you were having? I've changed the way middleware processing works, so it shouldn't ever process more than once.

[2019-01-08 02:19] mjdickinson opened #93 "Allow route handler function to have an arity less than 2"
Route middleware functions are checked for having arity of 3, i.e.:
[code]

This seems reasonable since middleware is expected to call `next()`, so needs all three arguments.

However, the final handler function in a route declaration is currently forced to have an arity of 2, i.e.:
[code]

Since handlers can return a response body instead of calling `res.send()`, it is quite possible that the sec

[2019-01-08 02:39] jeremydaly commented on #93
This makes sense. Adding to the roadmap.

[2019-01-11 21:11] cwhiteley opened #94 "path.trim is not a function"
I have this code running within AWS  us-east-1

const api = require('lambda-api')({ version: 'v1.0', base: '/v1' })

api.get('/status', (req,res) => {
  return { status: 'ok' }
})

module.exports.router = (event, context, callback) => {
  context.callbackWaitsForEmptyEventLoop = false
  console.log(event)
  api.run(event, context, callback)
}

The logs show no errors.  The full event is published

[2019-01-11 21:50] jeremydaly commented on #94
Does the `event` contain a `path` property?

[2019-01-11 22:10] cwhiteley commented on #94
Thanks to Jeremy's assistance - the issue is that we have set the integration element within the serverless.yml file.

`- http:
          path: 'v1/{proxy+}'
          method: any
          integration: lambda
          cors: true`

the integration element is incorrect.  It should be removed completely or set to lambda-proxy which is the default.

[2019-01-11 23:59] #94 closed

[2019-01-16 14:55] jeremydaly commented on #75
Assuming this was fixed in v0.10 since I've not heard back and can't duplicate the issue. Closing for now.

[2019-01-16 14:55] #75 closed

[2019-01-17 20:01] jthomerson opened #96 "Consider improving encapsulation of data related to request"
In trying to write tests for `lib/request.js`, I opened `test/requests.js` to add tests. The tests for the Request class are all actually running by means of creating an API, setting up middleware, and then calling `api.run(evt, context, cb)`, and then testing the response. That seemed odd to me, so I tried to figure out how to test a request in isolation. Then I realized that you really couldn't;

[2019-01-17 21:19] jeremydaly commented on #96
The initial purpose of the `Request` class was to simply parse and format the request. And since the results can all be directly measured by instantiating and calling an API route, it seemed the most logical way to approach testing. There was little incentive to build separate unit tests, since EVERY API execution needed to parse a request.

It would be possible to instantiate a `Request` independ

[2019-01-21 09:06] brighttank opened #98 "Perform logging after Error middleware has executed"
Currently the catchErrors function logs the error before calling the error middleware. This prevents the middleware from setting values that may be relevant to what's logged, eg. the response code.

My handlers throw custom Errors such as ValidationError, AuthError, etc which I then handle in my middleware to set the HTTP response code but the values I set there are not logged properly due to the

[2019-01-22 22:30] jeremydaly commented on #98
Hi @brighttank,

Logging is performed after the error middleware is fired, but the status code is not getting passed correctly to the final log. I am investigating this.

Thanks for the report,
Jeremy

[2019-02-04 08:31] eumpek commented on #46
Hello, i am trying to use [Method-based middleware](https://github.com/jeremydaly/lambda-api#method-based-middleware) but i get the following error

Here is the code:
`
const fetchUser = (req, res, next) => {
  next();
});`
`app.get('/comment/:id', fetchUser, (req, res) => {
  res.send(req.params.id);
});
`

The [Generic Middleware](https://github.com/jeremydaly/lambda-api#middleware) approach wor

[2019-02-06 02:39] jeremydaly commented on #98
After reviewing this, the current set up makes it a bit difficult to move the error logging after the error middleware. I have some ideas how to handle this, but it requires a small rewrite of how errors get caught and stored. I have fixed the incorrect status code issue, and am merging that in.

[2019-02-06 02:40] #98 closed

[2019-02-06 03:04] #93 closed

[2019-02-06 11:12] brighttank commented on #98
Would moving the logging to after the for loop not work?
[code]

[2019-03-05 18:06] brianwthomas opened #101 "Feature Request (case insensitive path, global overrides)"
Bear with me if I'm missing something, but when reading docs I couldn't figure out if any of these features are added.

1) Add the ability to handle case insensitivity for the path/URL.  For example /test and /TEST I may want the results to hit the same function.  The ability to add a case insensitivity when adding the API would be awesome instead of having to take the request object and lowercase

[2019-03-06 18:23] brianwthomas commented on #73
Can we reopen this?  I have lambda-api@0.10.1 installed and if multiValueHeaders = null in the event, it returns

{multiValueHeaders: Object, statusCode: 500, body: "{"error":"Cannot convert undefined or null to object", isBase64Encoded: false}

If I set this value to say "", it resolves this issue.

npm list

+-- aws-sdk@2.415.0
| +-- buffer@4.9.1
| | +-- base64-js@1.3.0
| | +-- ieee754@1.1.8 ded

[2019-03-06 18:28] jeremydaly commented on #73
I'll take a look. Do you mean if the value is `NULL` or `undefined`?

[2019-03-06 18:29] jeremydaly commented on #101
Great suggestions. I'll add them to the roadmap!

[2019-03-06 18:39] brianwthomas commented on #73
APIGW is setting the value to null

Here's the test event I can use which triggers this (I pulled out all of the other stuff to isolate it down to the headers.

Event:
{
"resource": "/bikes/{userId}",
"path": "/bikes/11",
"httpMethod": "GET",
"multiValueHeaders": null,
"pathParameters":
	{ "userId": "11" },
"body": null,
"isBase64Encoded": false }

Response:
{
  "multiValueHeaders": {
    "content

[2019-03-06 18:52] brianwthomas commented on #73
for what it's worth. If I set the value of it to undefined, I get similar results. So seems like if APIGW sets it to null (which it does if there's no headers present) then it's erroring out.

[2019-03-06 18:54] jeremydaly commented on #73
Thanks for the information.

[2019-03-06 19:02] brianwthomas commented on #73
Even more info for you.

So, this error only crops up when doing a test from APIGW using the method execution test (before deploying API)

If I deploy my API and make a request to the RESTful endpoint, I see no issues.

[2019-03-06 19:43] brianwthomas commented on #73
Side note, I'll follow up with APIGW on their testing tests to see about making sure they add multiheadervalues there.

[2019-03-06 19:46] jeremydaly commented on #73
I've confirmed that a null value fails, so regardless of WHY the value is null (or undefined), the system should catch it. I will add a fix soon.

[2019-03-08 20:34] mjdickinson opened #102 "Allow disabling of automatic error logging"
We make extensive of exceptions to propagate errors.  The automatic error logging (in catchErrors()) does not meet our needs:
- it does not log metadata attached to an Error object
- all Errors are logged as *fatal*; we'd like more control

It is simple enough to log errors in any way we like in error handling middleware.  However, it would be handy if we could switch off automatic error logging t

[2019-03-08 21:47] jeremydaly commented on #102
Hi @mjdickinson,

The default logging was meant to add consistency, but your request makes sense. Will add to the roadmap.

Thanks,
Jeremy

[2019-03-09 20:38] brianwthomas commented on #73
Maybe worth noting that on most entities that are sent, if they're null it errors out. I ran into the same issue with the body null/undefined on a PUT request (I know that's not smart, but it does return a odd error and I feel is an error that the user should be able to handle on their own)

[2019-03-21 16:20] rgillen opened #103 "Trouble getting Hello World example"
Have a basic hello world Lambda working, tried to outfit it with your library. All I seem to get is "Internal Server Errors" as soon as I remove your lib it starts work again. Very disappointing 👎

## handler.js
`const api = require('lambda-api')({ version: 'v1.0', base: 'v1' });`

`api.options('/*', (req,res) => {
  res.status(200).json({})
});`

// Define a route
`api.get('/test1', async (req,re

[2019-03-21 17:09] jeremydaly commented on #103
Hi @rgillen,

I'm using this library in 15 production environments and it works perfectly fine. Your code above is defining your `options` route with `app.options()`, but you're declaring `api` when initializing the library. This is likely why you're getting an error, because `app` is not defined.

Try changing `app` to `api` and your code above should work.

[2019-03-21 17:11] rgillen commented on #103
I just found that error and fixed it. I was able to get this from AWS console when trying a 'Test' in API Gateway.

Handler 'router' missing on module 'handler'

[2019-03-21 17:16] jeremydaly commented on #103
You are exporting your handler function as `handler` in your `handler.js` script, but your `serverless.yml` file is pointing to `handler.router`. Either update your `serverless.yml` to `handler: handler.handler` or rename your export in `handler.js` to `exports.router`.

[2019-03-21 17:28] rgillen commented on #103
Thank you for you patience. It seems my original issue was the missing `{proxy+}` in `serverless.yml` I then embarked on a series of cut/paste errors in an attempt to simplify my code and get it to work

[2019-03-21 17:29] jeremydaly commented on #103
Glad I could help.

[2019-03-21 17:29] #103 closed

[2019-03-23 00:17] hassankhan commented on #93
Just wanted to follow up, @mjdickinson are you using TypeScript by any chance? The commit fixing this changed the types in a way that requires users to check for the existence of `req` and `res` before using them. The optional parameters should be reverted to how they were before, since TypeScript doesn't force declaring unused arguments (see [here](https://github.com/DefinitelyTyped/DefinitelyTyp

[2019-03-24 22:32] rgillen opened #104 "API Gateway Test Tool Fails w/Cannot convert undefined or null to object"
I have been able to successfully get the lambda-api package working and have been able to deploy a simple endpoint. While trying to debug some errors for a custom API I tried to use the AWS Console API Gateway Test Tool, however I keep getting errors when invoking the endpoint via the 'Test Tool'. I was able to narrow down to a simple example, to help pinpoint the issue. My findings below...

1) M

[2019-03-24 22:46] rgillen commented on #104
Upon a 3rd review of the Open Issues I noticed #73 appears to be what I am experiencing. I was able to confirm that adding a header value of 'Accept: application/json' when using the API test tool resulted in a success. In light of this I will consider this issue resolved, will retest after #73 has been resolved.

[2019-03-24 22:46] #104 closed

[2019-03-25 11:58] hassankhan opened #105 "Using library with Cognito Authorizer does not work"
Hi there @jeremydaly,

I've been having quite a bit of trouble with `lambda-api` trying to do the following with the Serverless Framework:

[code]

If I disable the authorizer, everything works fine. Is this a known issue, or am I missing something obvious? 😕

[2019-03-27 17:43] rgillen commented on #105
Could you post the error you are receiving? Using the AWS Console Gateway Test Tool will provide a robust error message.

[2019-03-30 22:09] hassankhan commented on #105
Hi @rgillen,

Interestingly, making requests through the API Gateway Console Test Tool seems to work, as does making requests through Postman. The issue only seems to manifest when calling endpoints via `fetch()` from a browser. Additionally, requests made from the frontend fail immediately, and no logs are written to CloudWatch, which seems to indicate API Gateway is preventing the request from r

[2019-03-30 22:28] hassankhan commented on #105
Just to update, it seems my intuition was correct, API Gateway seems to be unable to authorize my request:

[code]

I'm definitely sending the authorization headers correctly, I have several other Lambda endpoints that use the same authorizer and they all work perfectly. Any suggestions? 😕

[2019-03-30 22:31] rgillen commented on #105
Any chance this is a CORS issue? You mentioned it only fails via fetch()

[2019-03-30 23:04] hassankhan commented on #105
I definitely have CORS enabled - if I disable the authorizer, then `fetch()` requests work.

[2019-03-31 18:25] rgillen commented on #105
- Does the Authorizer work when not using the lamba-api framework?

- Can you post the code for the Authorizer? I suspect something is amiss with the authorizer as it seems pretty unlikely the authorizer functionality is broken across all of AWS

- Since it is only failing via fetch() I would inspect the request payload and compare it to the POSTMAN payload. Its impossible that both the fetch() an

[2019-04-20 11:47] jeremydaly opened #106 "Process AWS SDK “Invoke” requests"
There should be a way for Lambda API to process requests that bypass API Gateway and are invoked directly. Support for “RequestResponse” and “Event” invocations should be supported.

[2019-04-22 16:04] jeremydaly commented on #105
Sorry for jumping in late here. I have not had any issues with this library and custom authorizers or Cognito. Did you ever resolve the issue?

[2019-04-24 21:20] mjdickinson opened #107 "async error handling middleware not working"
I ran into an issue when I tried to convert an error handling middleware function to async.

Stepping through the code in index.js#285
[code]

If the err function is async, it return a promise, which then causes response.send() to be called with that promise as argument.

I believe the implementation should be the same as used for standard middleware around line 228.

[2019-04-24 21:22] jeremydaly commented on #107
Please provide some additional context as well as a code sample. Thanks.

[2019-05-02 14:04] dtuyenle opened #108 "Duplicate middleware execution"
History PR Reference
#76

It seems like all of the middlewares will run twice. If you do `app.use`

[code]

But if you chain it in the route. It runs once.

[code]

[2019-05-14 20:15] rodrigoreis22 opened #109 "Header not added inside error handling middleware"
lambda-api version: 0.10.1

I have a middleware function to handle errors:

[code]

I want this CORS headers to be added on every response, including the error ones.
In fact I already have another middleware that was supposed to be doing this, but it doesn't work:

[code]

My api routing file:

[code]

When the request fails with `401 - Unauthorized` the header `Access-Control-Allow-Origin` is not

[2019-05-14 20:22] rodrigoreis22 commented on #109
is it related to this line? https://github.com/jeremydaly/lambda-api/blob/e05cde6a9278d4be1d871b578e711ee636828548/index.js#L256

[2019-05-14 20:34] jeremydaly commented on #109
Hi @rodrigoreis22,

Yes, the headers get stripped out when there is an error. As you can see from the code, it is a less than ideal solution.

Any thoughts on how to handle this? Should there be a whitelist of headers for errors handlers? Or, should error middleware be required to generate their own headers? Other ideas?

Thanks,
Jeremy

[2019-05-14 20:42] rodrigoreis22 commented on #109
Hi @jeremydaly ,

Why are they stripped out when there is an error?

I think at least the CORS headers should always be included. Maybe implementing a whitelist would make it more flexible, but in this solution the CORS headers would be on the whitelist by default.

[2019-05-15 14:30] theshumanator opened #110 "Support for Typescript?"
Hi, do you have a sample typescript which uses lambda-api?
I'm getting a bunch of errors and just want to make sure I'm not missing anything.

The errors I am getting are like this:

[code]
Thanks

[2019-05-20 15:17] dtuyenle commented on #108
Just a note this is serverless framework I am using. At first. I thought It was just the initial load but then how come it runs only once when you chain it in the route.

[2019-05-21 06:13] dalisoft commented on #82
Would be great websocket support at library/framework level

[2019-05-23 00:34] jeremydaly commented on #109
I’m not sure the whitelist is the best way to handle it. I need to do some more research on this to make sure that if follows proper guidelines. I suppose we could publish a patch that removes the header stripping, but I don’t want it to cause compatibility issues.

[2019-05-23 01:28] rodrigoreis22 commented on #109
Maybe an option that can be set to false, meaning headers will not be stripped out on error responses. Default is true, keeping the same behavior as is today, to maintain compatibility.

[2019-05-23 23:11] rodrigoreis22 opened #112 "Middlewares not being called when using wildcard "*""
Lambda api: 0.10.1

I have this API:

[code]

You can see that I have another JS module that holds all middlewares. When I deploy it like this, it looks like only the `authorize` middleware is being called.

If I remove the line:
`api.use(['/data/*'], middleware.authorize);`

Then the other middlewares are called normally.

In old versions of the lib this didn't happen, I just updated to the newes

[2019-05-25 03:06] jearles opened #113 "Use hasOwnProperty when iterating with for-in"
In the use method you are using a rest operator to pull all parameters into an array for processing. However, when processing the middleware you are using for-in:

https://github.com/jeremydaly/lambda-api/blob/master/index.js#L347

As you do not use hasOwnProperty this method is prone to picking up prototype methods. A recent library we used added a Array prototype method and our routes broke with

[2019-05-31 17:16] schulke-214 opened #116 "It has dependencies."
`/lib/request.js`
[code]

This looks like a dependency - im noting this since you're advertising this framework as 0 dependency framework.

[2019-05-31 17:17] schulke-214 commented on #116
Another Example:

`/lib/s3-service.js`
[code]

[2019-05-31 18:18] jeremydaly commented on #116
Hi @schulke-214,

The `querystring` package is included in Node.js core, so you don't need to include or require any third-party modules. This is not a dependency, just a way to access a feature of Node.js.

The `aws-sdk` requirement is technically a dependency, yes. But since the `aws-sdk` is preinstalled in the Lambda runtime, you do not need to include the module as a "dependency" in your `pack

[2019-05-31 18:18] #116 closed

[2019-06-03 13:15] stawecki commented on #110
Try using the updated type declarations from maxmellen's PR: https://github.com/maxmellen/lambda-api/tree/strict-ts

My sample `handler.ts` looks like this (note that it's not ideal, because i'm still using require and assigning it the API type, but it works. Can't seem to use import to retrieve createAPI in one go.).

[code]

Any other ideas appreciated.

[2019-06-03 16:14] stawecki commented on #110
Just to elaborate the import issue, the suggested import:
[code]
Transpiles into:
[code]
Which results in: `TypeError: lambda_api_1.default is not a function`
I believe it's the correct behaviour for `export default createAPI;` in *index.d.ts*, but it doesn't match the `module.exports = opts => new API(opts)` in *index.js*. The fix is to add the following line to *index.js*:
[code]
I didn't start

[2019-06-05 04:17] ktersius commented on #73
Also running into the issue where null multiValueHeaders will cause an exception.

[code]

[2019-06-06 15:45] jsepia commented on #110
This worked for me:

**handler.ts**

[code]

[2019-06-06 16:15] stawecki commented on #110
@jsepia what are your `compilerOptions` in **tsconfig.json**, if I may know?

[2019-06-07 16:55] dtuyenle commented on #108
Hi @jeremydaly Have you had a chance to look at this issue ? Appreciate

[2019-06-07 20:02] jeremydaly commented on #108
Hi @dtuyenle,
Not yet, sorry. I am working on big update to Lambda API, but I will look at this this weekend.
- Jeremy

[2019-06-10 10:31] jeremydaly commented on #112
Thanks for the report. The middleware execution handling was changed in v0.10 to support additional functionality. It should have been backwards compatible, but this looks like it slipped through.

[2019-06-10 17:33] stawecki commented on #110
Looking at [ts-lambda-api](https://github.com/djfdyuruiry/ts-lambda-api), looks like you need `"esModuleInterop": true` in **tsconfig.json**'s `compilerOptions`, [unless you're using Babel](https://itnext.io/great-import-schism-typescript-confusion-around-imports-explained-d512fc6769c2).

I've tested this myself now and it works.

@jeremydaly can we add this information to the README?

I also thin

[2019-06-12 14:46] dtuyenle commented on #108
Thanks @jeremydaly  we are using your library and having a work around but it would be nice to have a solution for this.

[2019-06-20 09:04] Noob7 commented on #55
The whole point of sending files through lambda is to get some additional functionality. In my case I need to collect all files in a folder and zip them before sending. Is there a way to do it via a lambda without having to load all files in the lambda memory :(

[2019-07-18 07:59] QAnders opened #117 "Using with ALB gives 502 Bad Gateway"
We've been using `lambda-api` with APIGW for some time and just love it, so first of a massive Thank You!

Now we've been looking at moving our backend API's to an internal ALB instead and started doing tests with using `lambda-api` for it as well.
The ALB works fine and triggers the Lambda but using any valid route we always get `502 Bad Gateway` response from ALB.
Trying with a invalid URI or me

[2019-07-18 10:22] QAnders commented on #117
Never mind!

I figured it out, it's the header `Access-Control-Allow-Credentials` that must have a `String` value and not a Boolean `true`, i.e. `res.header('Access-Control-Allow-Credentials', 'true');`  works!

[2019-07-18 10:22] #117 closed

[2019-07-18 12:21] jeremydaly commented on #117
Glad you figured it out!

[2019-07-19 01:17] MattCopenhaver opened #118 "Question - Unit Testing: Mocking Request and Response Objects"
When unit testing my handler functions with Jest (although I doubt this issue is specific to Jest), with the signature of `somefunction(req, res)`, I'd like to test specific behavior my application applies on `req` and `res`.

For example:
[code]
I'd like to assert that, in the event of an error, `res.status` was called with `500` and `res.status().json` was called with the details of the error.

[2019-07-31 14:24] Jeremias-Tecnom opened #119 "Swagger Decorators for API Documentation"
I would be great if we could add decorators to methods and params in order to export API documentation.

I've founded this package: https://github.com/TypedProject/ts-express-decorators/tree/master/packages/swagger which is for TS.ed (express TS extensions).

Maybie we can replicate something like this.

I will try to build something similar for lambda-api. I never used custom decorators before, s

[2019-08-07 20:26] mthota15 opened #120 "using GraphQL with lambda-api"
I am trying to use graphql with lambda-api but its not working as expected and seeing following error in graphql IDE. Not sure if lambda-api is able to parse graphql request and response.

{
  "error": "Response not successful: Received status code 500"
}

Here is my code:

handler.js

    const api = require('lambda-api')();
    const { graphql } = require('graphql');
    const schema = require('

[2019-08-07 21:27] jeremydaly commented on #120
This should work. Can you trace where the error is being thrown from? For example, is the `graphQLResult` being generated correctly, or is if failing before that?

[2019-08-07 22:50] mthota15 commented on #120
Actually it worked. Thanks for looking into it.

[2019-08-07 22:50] #120 closed

[2019-08-17 13:20] Sleavely opened #121 "Registering a route without a prefix will clean out the apis entire prefix stack"
In a scenario where you use a base path and define a set of routes using `api.register()` without a prefix it will work... once.

If you copy that `api.register()` line to include another set of routes, they will be registered without the base path (or any nested prefixes). 💥

[2019-08-23 01:54] btakita opened #123 "Error - "The first argument must be one of type string, Buffer, ArrayBuffer, Array, or Array-like Object""
This occurs when body is null. PR coming up...

[2019-08-23 07:26] Sleavely commented on #118
Is there a particular reason you want to test that `status()` was called, as opposed to looking at the status code in the response?

For example, my tests for the routing usually look along these lines:

[code]

The two helpers are:

- `testApi` Wraps `api.run(event)` in a Promise that parses the returned JSON
- `makeHttpEvent` has a default fixture for what a complete Lambda event object looks li

[2019-08-24 06:06] ozylog opened #125 "ErrorHandlingMiddleware typing issue"
Hi,

I am trying to make errorHandler with TS by replicating this [example](https://github.com/jeremydaly/lambda-api#error-handling). but i got a typing error instead.

[code]
I guess `next: ErrorHandlingMiddleware` should be `next: NextFunction`.  I would make a fix if my guess is correct. otherwise, please advice me.

Thanks

[2019-09-30 07:56] pvlreyes opened #127 "How to handle multipart/form-data?"
Hi,

Thanks for this lightweight module. How do i process post values multipart/form-data content type?

Thanks.

[2019-10-07 22:18] jkinghed opened #128 "Middleware does not work for root path"
Either I'm missing something in the documentation (very likely), or middleware does not trigger for root paths. I've tried both GET and POST.

Example code
[code]

And logs

![image](https://user-images.githubusercontent.com/19406152/66352755-a53ecf80-e960-11e9-9b87-d53fbf1bb147.png)

API Gateway has ANY method for base path `/user`

Any pointers on what I'm doing wrong?

[2019-10-18 08:11] tobilg opened #129 "Possibility to send plain text files with sendFile()"
As it seems, the response body of the `sendFile()` function is always [base64 encoded](https://github.com/jeremydaly/lambda-api/blob/master/lib/response.js#L347). If my understanding is correct, would you be interested in a PR that makes this flexible?

[2019-10-18 08:21] tobilg commented on #129
Sorry, this can be fixed by [enabling binary support](https://github.com/jeremydaly/lambda-api#enabling-binary-support) as described in the readme. Closing.

[2019-10-18 08:21] #129 closed

[2019-10-29 12:14] #123 closed

[2019-10-29 15:03] AndrewBarba opened #130 "Support setHeader for more compatibility with Express middleware"
Currently we can set headers using `res.header(key, value)` however a lot of Express middleware, ex. Helmet, use `res.setHeader(key, value)`.

Adding a `setHeader` alias would allow these types of middleware to work out of the box.

I currently add `res.setHeader = (...args) => res.header(...args)` to all of my projects that use lambda-api in order to support this

[2019-10-29 15:16] AndrewBarba opened #131 "Query parameters are not decoded when using ALB"
When using lambda-api with ALB the query parameters are not decoded properly when set on the `req.query` object.

Ex. When logging `req.query` in a request like `curl https://myapi.com?foo=hello%20world` the log produces:

[code]

When it should produce:

[code]

I currently run middleware to properly decode each query option in order for it to match APIG

[code]

[2019-10-29 17:23] Jake-Kuznicki opened #133 "Newest Version broke AWS Lambda"
Attempted to spin up a new project using AWS Lambda with v10.3 but I keep getting cannot execute "includes" of undefined in the lambda-api index.js line 259....reverted to the 10.2 and it worked just fine

[2019-10-29 17:36] jeremydaly commented on #133
Thanks @Jake-Kuznicki. Checking this out now.

[2019-10-29 17:47] #133 closed

[2019-10-29 17:49] jeremydaly commented on #133
Fixed. This was an edge case that happened if you didn't provide any configuration options.

[2019-10-29 18:39] Jake-Kuznicki opened #134 "Newest Version broke lambda"
Tried to spin up a lambda but got an error of "cannot read property includes of undefined, lambda-api index.js line 259....I reverted to an old version (0.10.2) and it worked just fine

[2019-10-29 18:44] jeremydaly commented on #134
See #133. This was fixed.

[2019-10-29 18:44] #134 closed

[2019-11-14 00:15] thiagotigaz opened #135 "Custom cache middleware integration"
Hi,

I'm working creating a redis cache middleware for our lambda-api layer.
I need to cache the responde after it's processed, so after the next() method.

I saw lots of people rewrites the send like below picture.
![Screen Shot 2019-11-13 at 4 11 26 PM](https://user-images.githubusercontent.com/4993320/68815493-6e7b6980-0630-11ea-8383-782dafbe5b55.png)

The problem is that we have multiple retur

[2019-11-14 00:23] thiagotigaz commented on #135
OK, I checked `lib/responde.js` and it seems all the methods do their stuff and then call send, so I'm assuming I have to overwrite just the send method like the picture above, right?

[2019-11-20 15:10] steve-mathem commented on #119
have you made any progress on this?

[2019-11-21 19:20] Jeremias-Tecnom commented on #119
Steve, i could not find any extra time to do this yet.
BUT
What I am doing now is declaring the API with updated SAM resources, now you can declare response models in a short way and add auth to APIs without having to declare swagger.

[Auth](https://github.com/awslabs/serverless-application-model/blob/master/versions/2016-10-31.md#api-auth-object)
[Request Model](https://github.com/awslabs/server

[2019-11-22 08:50] steve-mathem commented on #119
cool, might check that out

I'm gonna look into going the decorator route, already have a basic poc implementation, both for swagger export and also to simplify route declaration

[2019-11-25 20:01] Jeremias-Tecnom commented on #119
If you wanna share it maybie i can help you!

[2019-12-10 20:05] jeremydaly opened #136 "Support for HTTP APIs"
Announcement here: https://aws.amazon.com/blogs/compute/announcing-http-apis-for-amazon-api-gateway/

Just need to run some tests to see if the even payload is any different.

[2019-12-10 20:28] JustFly1984 commented on #136
@jeremydaly  Do you have any plans to support websockets lambdas deploy with API Gateway support?

[2019-12-10 20:31] jeremydaly commented on #136
I did take a look at supporting it (see #82) and it didn't seem to fit. But I'm investing more time in this library, so I'll take another look.

[2019-12-23 07:57] y-udaykiran96 opened #137 "api.register method isn't found with typescript usage"
When I'm using this package with typescript, I'm not getting the api.register(route, opts) method under the package. It works fine with nodejs code, but not with the typescript with nodejs.

When I explore the index.d.ts file of this source, I didn't find any type definition for register method under API class.

Please help me using register method with typescript

[2019-12-29 11:28] tobilg opened #138 "Support for AWS Embedded Metrics"
It would be great to have bulit-in support for https://github.com/awslabs/aws-embedded-metrics-node so that there's access to the metrics publishing from the req/res for example.

[2020-01-03 20:18] bionicles commented on #136
I really want to use HTTP API with AWS CDK and your lambda api repo jeremy!

Also want to add some input validation with jquense/yup and ABAC with ramda or some specialized tool

[2020-01-06 09:46] spinlud commented on #137
Same behaviour:

[code]

[2020-01-06 12:24] jeremydaly commented on #137
Thanks. Will add it in.

[2020-01-09 07:58] JustinLutsky commented on #137
I don't believe there is type definition for api.routes() either.

[2020-01-18 03:05] rodrigoreis22 commented on #109
Just saw that this was fixed on https://github.com/jeremydaly/lambda-api/releases/tag/v0.10.3 . Thanks!!

[2020-01-18 03:05] #109 closed

[2020-01-25 13:40] SergKam opened #139 "Wrong TypeScript type of Request.cookies"
The wrong type of Request.cookies in `index.d.ts`.
it should be `string` instead of `CookieOptions` ;

[2020-01-26 00:40] SergKam commented on #137
`req.namespace` also missing

[2020-01-28 17:14] judemanutd opened #141 "Custom Error types"
I'm trying to generate a custom error response format, this is what I've got so far

[code]
I have a handler as the last route in my routing file which is meant to catch all errors

[code]
The output returned is always
[code]

while the console log prints out ```generateAPIError -> error [APIError: [object Object]] { status: undefined }```. A JSON stringify of the same always returns an empty obje

[2020-01-29 09:04] JustinLutsky opened #142 "Middleware After Routes"
Is it possible to trigger additional, global middle-ware after routes have been run? For instance, if I wanted to inspect all response bodies for certain properties, and alter the response prior to returning according to some logic.

[2020-01-29 13:55] tobilg commented on #107
I have the same issue when trying to implement a custom authorization middleware for a proxy integration:

[code]

This results in 502 errors in the API GW logs:

[code]

[2020-01-30 06:13] #141 closed

[2020-02-05 14:31] jakowenko opened #143 "CORS on internal server errors and route not found"
Loving this package, but I'm running into a few CORS issues related to internal server errors and even routes that aren't found.

My handler looks something like this.

[code]

If I try to hit a route that doesn't exist I'm getting a CORS errors.

`Access to XMLHttpRequest at 'https://myapi.com/dev/v1/test' from origin 'https://fiddle.jshell.net' has been blocked by CORS policy: No 'Access-Control

[2020-02-05 17:29] jakowenko commented on #143
I was able to fix this by catching the error in my middleware and applying cors to it there.

api.use((err,req,res,next) => {
    res.cors();
    next();
});

[2020-02-05 17:29] #143 closed

[2020-02-12 01:08] JustinLutsky commented on #107
I'm having the same issue with some authorization middleware. If I do:

      return res.error(401, 'Not Authorized');

Prior to any 'awaits', it responds with the correct 401. However, if I do that after any 'awaits' in the code the result is a 502 timeout.

[2020-02-13 06:50] JustinLutsky commented on #107
Fixed my issue by replacing all:

return res.error(401, 'Not Authorized');

with...

return await res.error(401, 'Not Authorized');

[2020-02-13 06:55] JustinLutsky opened #144 "Logging to Loggly"
Is it possible to pipe all logging entries to Loggly? Any kind of logging middleware that can be added, including access logs?

[2020-02-13 13:46] tobilg commented on #107
@JustinLutsky Thanks, that fixed it for me. @jeremydaly would it eventually make sense to include this in the README?

[2020-02-22 21:45] #131 closed

[2020-03-04 12:31] sweeetland opened #146 "Example of how to use with individual lambdas vs monolithic"
Hey Jeremy, this looks awesome.

Is there a way to use lambda-api with individual lambdas vs the monolithic approach?

Thanks, James.

[2020-03-04 13:34] jeremydaly commented on #146
Absolutely! If you want to allow API Gateway or ALB to handle your routing, you can just specify a method without a route:

[code]

This method would be called for all post requests that were routed to your Lambda function.

[2020-03-04 14:12] sweeetland commented on #146
Thanks for such a prompt reply and for your hard work on this.

Looking forward to trying this out.

[2020-03-04 14:12] #146 closed

[2020-03-22 22:08] JustinLutsky opened #149 "Redirect and Remove Authorization Header"
What's the correct way to remove the authorization header from being passed along with a redirect? This is what I'm doing now:

            res.removeHeader('authorization').redirect(signedUrl);

Which doesn't seem to work. My original Authorization header is being passed along causing the redirect to a signed s3 url to fail.

[2020-04-12 23:55] hjrobinson commented on #86
I feel like an idiot for overlooking the obvious, but I thought I would mention this anyway in case someone has the same issue.  If you're using a view engine like pug set your hrefs equal to the urls of the css files in your S3 bucket or the urls of the routes that use the sendFile method.

[2020-04-23 07:23] malpaso commented on #136
Has anyone confirmed whether this works with HTTP APIs ?

[2020-04-23 11:16] MarioVerbelen commented on #136
I'm using that with $default routing to my Authorizer and a lambda integration with the lambda-api as routing (routing is done in the single lambda function)

I had no issues for now (running about a month now)

[2020-04-23 11:19] stawecki commented on #136
@malpaso It seems to work fine when configuring the Lambda integration's "Payload format version" to "1.0". It does not work with the default "2.0" format.
(More on payload formats: https://docs.aws.amazon.com/apigateway/latest/developerguide/http-api-develop-integrations-lambda.html)
@MarioVerbelen you're using 1.0, right?

[2020-04-23 11:21] MarioVerbelen commented on #136
The format is on V1.0 idd

[2020-04-23 11:21] jeremydaly commented on #136
@stawecki, you are correct. The library isn't compatible with the 2.0 payload format. This is being worked on and should be added soon.

[2020-04-27 21:26] stawecki commented on #137
Hi all,
if you could have a look at my bulk PR for these, it would be great. It's been a while, so I'm hoping this will help Jeremy merge these sooner. I'd appreciate a second opinion too.
Just go through the changes and leave your review: https://github.com/jeremydaly/lambda-api/pull/148
I've been using this update in production, so far so good on my end.
Thanks!

[2020-04-27 21:50] stawecki commented on #137
Thanks Jeremy! TS users: Reviews still appreciated. Try compiling using latest npm package. File diffs available here: https://github.com/jeremydaly/lambda-api/pull/148/files

[2020-04-29 22:22] clarkd commented on #136
I get `Route not found` when using HTTP API (via Serverless Framework). Is there anything special I need to do to get it working?

Notably, were using a custom domain with base path mappings (to a particular stage).

Any pointers to where I can start debugging this?

[2020-04-29 23:14] stawecki commented on #136
@clarkd probably best to start with checking the payload. Serialize and log the Lambda event, then fetch the logs using serverless CLI or through CloudWatch.
[code]
You'll be able to see what path is being passed to your Lambda and replicate the issue locally.

[2020-04-29 23:48] clarkd commented on #136
@stawecki Thanks - I'll give that a go :) Appreciate the assist.

[2020-04-30 00:08] clarkd commented on #136
Hmm, it looks like `lambda-api` is trying to find a route that matches `event.path` rather than, e.g. `event.resource` or `event.requestContext.resourcePath`. The first part of the `path` shown is the stage name (`saas-46-db-wrapper-e`).

[code]

Extracted from the above^:
[code]

Notably, when I run this locally using `serverless-offline`, the URL still has the stage in, i.e. `http://localhost:30

[2020-04-30 00:35] jeremydaly commented on #136
The library doesn’t support HTTP APIs yet. There is a new payload version that needs to be added.

[2020-04-30 00:45] stawecki commented on #136
@clarkd  I think that's because "resource" represents the resource path in your API, which could be a proxy resource e.g.: `{ "resource": "/documents/{proxy+}", "path": "/documents/123" }` or in case of the $default route in HTTP API: `"resource": "$default",`.
You can detect the stage by looking at the payload's `requestContext.stage`. It's strange that this is included in the path, as that isn't

[2020-04-30 07:10] MarioVerbelen opened #150 "Question about api.routes()"
I was searching to create the options method dynamically
I foud a way but the only thing is that the feature api.routes is for debug purpose
So I'm guessing there could be a better way for this

could you confirm that I may use the api.routes() call for this?
of maybe suggest an other way of doing this

This function generates for all routes a list of methods in a string to the header   'Access-Co

[2020-04-30 09:57] clarkd commented on #136
@jeremydaly This is using payload version 1.0 I believe which @stawecki indicated should work - but I'm prepared that it might not be 100% compatible right now. Happy to help contribute where I can.

@stawecki Yeah, it certainly is strange and like I say, this doesn't happen using serverless-offline so there's an issue somewhere - just not sure who's fault it is! I'll try and spin up a small repro

[2020-04-30 10:12] stawecki commented on #150
You could set cors for all routes using middleware, then return 200 for all OPTIONS requests.
It wouldn't be as restrictive as checking the routes, but except for doing this for multiple wildcard routes or manually registering OPTIONS for each route, I can't think of a better way at the moment.
[code]

[2020-04-30 13:18] jeremydaly commented on #150
Hi @MarioVerbelen. The easiest way to do this is just to set a global `OPTIONS` route so that any `OPTION` request will return a `200` with the correct CORS headers. You can either generate the CORS headers in this route, or do what I do, and generate them using a middleware handler.

[code]

[2020-05-02 16:15] MarioVerbelen commented on #150
I now that globally is the easy way,
With the function that I have now it generates it only for the routes with methods that exists
I prefer the good way vs easy defaults

As I understand there is no such function for the moment, np

[2020-05-23 16:13] jlopezcrd commented on #53
In my local env, throw a exception and not work :( You can help me? Thanks

![image](https://user-images.githubusercontent.com/6699978/82735306-f7cad180-9d20-11ea-836b-b7192554d970.png)

[2020-05-23 16:42] Sleavely commented on #53
It looks like there is no `body` in the response. Could it be because you don't have a route defined for the path you are accessing? If you copy-pasted my Gist as-is; does `/status` work? Are you able to share the code that's breaking?

[2020-05-24 16:58] jlopezcrd commented on #53
Yes, i upload the test code to my github: https://github.com/jlopezcrd/lambda-api-test

[2020-05-26 20:22] jlopezcrd commented on #53
I've modified the local file and it works. You can review it:
https://github.com/jlopezcrd/lambda-api-test/compare/master...fixlocal?expand=1

Regards.

[2020-05-27 08:19] Sleavely commented on #53
Interesting. I'm not sure why that approach works but I'm glad you got it running :)

[2020-05-27 17:21] jimsorock commented on #32
Hi Jeremy, sorry for commenting on a closed issue, but does the typescript definition to support this just need to be updated?

[2020-05-28 22:17] thiagotigaz opened #153 "Api Versioning"
Hey Jeremy,

This is more a question than a problem. I'm trying to implement api versioning based on path but then I need to change the lambda-api configuration to use the `base` property with v1, v2, etc...

Right now we are configuring the custom domain names in the api gateway like the following:
example-dev.example.com/v1
example-dev.example.com/v2

Each domain points to a different lambda fun

[2020-06-18 21:30] lunarwtr commented on #112
Experiencing the same problem.  It works if I make the middleware non path specific and use conditional in the middleware to test the route itself.

[code]

[2020-07-23 14:24] pipeu opened #156 "Returning Error to clients"
Hey Jeremy,

First of all thanks for the amazing framework.
I'm struggling here regarding returning error to clients, like 404 not found.

If i use the framework error engine this way: res.status(404).error('Not found')

Then in clients like Chrome we always get the bellow cors issue:
has been blocked by CORS policy: No 'Access-Control-Allow-Origin' header is present on the requested resource. If

[2020-07-24 17:08] dupersec commented on #156
Ran into this too, have to add cors headers to the `errorHeaderWhitelist:`

[code]

Maybe this should be the default? Or at least in the docs somewhere

[2020-07-27 22:42] rama41222 opened #157 "Uploading files"
### How to I handle files / multipart form data using lambda-api ?

* I tried using multer and multer-s3 but it didn't work, I got `req.pipe not found error`

[2020-08-04 14:52] eXist-FraGGer opened #158 "Async operation before send"
Hello everyone!

I need to save some important data every time when the response is already available.

I have tried 2 approaches:
1. `api.finally` - does not allow us to use an async callback.

[code]
2. Tried to override `res.send` the method in a middleware - it looks like the send method can not include any async operations.
[code]

As a result - the API does not work, but it works if we do no

[2020-08-04 15:04] MarioVerbelen commented on #158
Interesting topic,
I was thinking for something like middleware but then before the send

My use-case was that I would like to create a function for cache headers depending of the status code
For that you need access to the response details, like statusCode, current headers etc

[2020-08-04 15:20] eXist-FraGGer commented on #158
I have checked the source code and see why it does not work

The `api.finally` support async callback
![image](https://user-images.githubusercontent.com/13423093/89311563-d53d2900-d67e-11ea-90db-993be2e10510.png)

But he method `res.send` does not wait for the async method `_callback`

![image](https://user-images.githubusercontent.com/13423093/89311721-0584c780-d67f-11ea-9b23-ebf10f68ba61.png)

[2020-08-04 15:39] eXist-FraGGer commented on #158
It works if we do the next changes:

1.
![image](https://user-images.githubusercontent.com/13423093/89313925-bb511580-d681-11ea-936a-f99df2022730.png)
2.
![image](https://user-images.githubusercontent.com/13423093/89313990-cd32b880-d681-11ea-8bd1-af66ebace5d0.png)

[2020-08-06 04:00] eXist-FraGGer commented on #158
There is a way how to do some `async` operations in finally.

1. Use `callback` from lambda function
[code]
2. Use async operation in `api.finally` - !!! important - do not use `async / await`
[code]

3. Why it works:
The third argument, `callback`, is a function that you can call in non-async handlers to send a response. The callback function takes two arguments: an Error and a response. `When yo

[2020-08-06 07:31] MarioVerbelen commented on #158
api.finally((req, res) ... works great

I see that in the handler you can also use then on run

[code]

[2020-08-24 23:29] gakinson opened #159 "Missing multiValueQuery in Request type"
Hello,

I am trying to find multiValueQuery in your Request type but I am only able to find query. Is this intention or is it missing?

Thank you

[2020-08-25 04:58] sebastianDejoy commented on #157
yes please, busboy is limited...multer rules on NodeJS. Please add support to that.

[2020-08-25 14:12] MarioVerbelen commented on #159
If I understand you want something like url?foo=one,two,three

I have such thing and do a split of the value where I need it
split by ',' or '-' thats very flexible

[2020-08-25 15:24] jeremydaly commented on #159
`multiValueQuery` is available on the request object.

[2020-08-25 15:25] gakinson commented on #159
I am not seeing in in here https://github.com/jeremydaly/lambda-api/blob/master/index.d.ts#L107-L159

[2020-08-25 15:31] jeremydaly commented on #159
It looks like it's missing from the TypeScript definition file. It is available on the object, however. Can you submit a PR?

[2020-08-25 15:41] gakinson commented on #159
is the type just a

[code]

[2020-08-25 15:46] gakinson commented on #159
https://github.com/jeremydaly/lambda-api/pull/160

[2020-09-01 17:20] gakinson opened #161 "API Gateway Prefix"
Hello,

Im not sure if this is an issue or if I have a setup issue, but if I do a domain mapping on API gateway then the paths no longer work correctly.

Example would be:
[code]

[2020-09-17 18:36] gakinson commented on #159
OOC, do you have any idea on when your next release will be?

[2020-09-28 12:01] jebricker opened #162 "Register new route getting error"
Setting up multiple routes from base

[code]

When attempting to access any route I get this error on the register line

[code]
Serverless:
Framework Core: 1.73.1
Plugin: 3.6.13
SDK: 2.3.1
Components: 2.30.20
nodeJS 12x

[2020-09-28 12:06] jebricker commented on #161
I am also seeing an issue passing in parameters.  GET calls with no parameters work fine.  With a parameter is failing.

Do you need to declare the variable?

`api.get("/:userId/:userid`

Then get it from either the req.params or req.query?

[2020-09-28 12:10] stawecki commented on #162
@jebricker can you also provide the productTypeRoutes.js file or at least a sample of it to see its structure?

[2020-09-28 12:14] jebricker commented on #162
A basic route.  I will repeat that the error is being thrown at the register call.  It is not making it to the routes.

[code]

[2020-09-28 12:18] stawecki commented on #162
Are you exporting the routes inside a function that provides the api object? Like this:
`productTypeRoutes.js` sample
[code]

[2020-09-28 12:30] jebricker commented on #162
Thanks, That solved the error.  Now can't find the route
Is this the correct setup in the serverless.yaml?
[code]

[2020-09-28 12:35] stawecki commented on #162
In serverless you should point the `handler` at your main lambda file, not the routes file. Your lambda handler, which loads the lambda-api module will parse the HTTP event object and pass it to the correct route. The routes file itself, will not be able to process the unparsed HTTP payload.

[2020-09-28 12:53] jebricker commented on #162
RoutesHandler file has no routes.  Just the code from the handler from the api.  I can register all the routes in the same file and have it be routed.

[code]

The logging only shows one route.  The others are blank in the logs

2020-09-28T12:25:38.472Z	undefined	INFO	╔════╤════╗
║  [1mMETHOD[0m  │  [1mROUTE[0m  ║
╟────┼────╢
╚════╧════╝

2020-09-28T12:25:38.491Z	8e470ed0-d247-4320-b7b3-4bf13b

[2020-09-28 16:56] jebricker commented on #162
Thank you for your help.  I was able to figure out the problem

[2020-09-28 16:56] #162 closed

[2020-09-28 17:56] sebastianDejoy commented on #157
Any insight about piping on this framework?

[2020-10-04 18:37] ryanpagel commented on #136
Any update?  I'd really like to use this with HTTP APIs.

[2020-11-26 17:04] juhofriman opened #165 "Watch out for setCookie and clearCookie opts, as clearCookie mutates opts instance"
Hi!

Lambda-api is a great package and has been really helpful in our one single backend lambda architecture 🚀

Today, I faced a really hard to debug issue and I though passing the information here if it helps anyone else. I was running our app with SAM CLI and everything worked like a charm, but when I deployed to AWS lambda, it worked in really weird way.

The problem was that I had somewhat the

[2020-11-28 13:50] shyam1992 commented on #127
I believe it is currently parsing only two types and not multipart/form-data. all the others except the supported two are parsed into plain text. I also would love to know when they come up with the support.

[2020-12-10 20:17] wigsaparelli commented on #136
Hi, any update on when 2.0 payload format support is coming?

[2020-12-15 23:27] lukemcgregor commented on #118
@Sleavely I realise this is an old issue, but where are you getting makeHttpEvent from? Is that a custom method you made, or something provided by a library?

[2020-12-16 13:04] elkaadka opened #166 "Finally step is started but is not "waited" for"
the callback step in response is started but is not awaited, so my lambda finishes before finishing async operations inside finally step

[2020-12-16 19:10] Sleavely commented on #118
@lukemcgregor It's a custom function. I don't have access to verbatim examples at the moment but basically it has a default Lambda `event` object such as this one https://gist.github.com/anuradhawick/6fffd792ebae3148c11ebecf6b966b2a and then merges that with the input so that you can create mock events without too much copy-pasta.

Something along these lines:

[code]

[2020-12-21 17:00] mgregory73 commented on #136
You can see how the Serverless team is using HTTP API in their express component by re-mapping the event. https://github.com/serverless-components/express/blob/master/src/_express/handler.js#L11

I've done the same sort of thing and it works with lambda-api, but official adoption would be so much better. The other big thing with HTTP API is that there is no compression out of the box. If anyone ha

[2021-01-11 00:41] #125 closed

[2021-01-20 23:51] cademyio-dev commented on #166
I have also noticed this issue and was wondering if there is any work around for this?

[2021-02-04 10:45] Hobart2967 opened #167 "CORS Error due to lowercase"
Firefox will not recognize cors headers due to them being lowercased:

https://github.com/jeremydaly/lambda-api/blob/0b753d855fd5be1f25b5291c78f25171d2151e19/lib/response.js#L68

Removing the "toLowerCase" fixes the issue.

[code]

[2021-02-04 12:01] Hobart2967 commented on #167
Added PR for this issue

[2021-02-04 13:11] jeremydaly commented on #167
Hi @Hobart2967. Lowercasing was done to be compatible with HTTP/2 and the change that Chrome made in version 60. See more here: https://github.com/elm/http/issues/31

I haven't looked into the status of the RFC or whether or not this has been reverted, but we can't just turn this off since it would break a number of existing applications. If you can share any updated research on this, then we can

[2021-02-08 09:42] Hobart2967 commented on #167
Got ya, but on the other hand you're dropping browser support. Will adjust the PR to make it configurable

[2021-02-08 09:52] Hobart2967 commented on #167
See here: https://github.com/jeremydaly/lambda-api/pull/169

I added a configuration entry `headerStyles` that applies the non-compliant header styles.

[2021-02-08 19:12] joelrwilliams12 opened #170 "Best way to send compressed response"
I don't see any options for returning compressed (gzip'd) data.

Does such a thing exist?
Can you run compression middle-ware similar to express?
Or do I just need to roll my own using zlib?

[2021-02-09 15:50] navneetthakur99 commented on #144
This library looked apt and so good until we ran into this issue where the logger tightly integrated with req and response object without being exposed for extension or wrapping. Hence, you cannot even wrap it for scenarios when you might want to move away from cloudwatch. The library has assumed a stack and tailored code for it.

[2021-02-09 16:37] stawecki commented on #144
Hi, Lambda API is optimised to execute on AWS Lambda and within its ecosystem including CloudWatch. That said there's at least four ways you can attempt integrating with external logging systems.

**1. Lambda API Middleware**
You can console.log additional information or send it externally using middleware for every request. The latter will likely make your execution time longer, but is fairly str

[2021-02-15 00:13] cujarrett opened #171 "How to cause error in Lambda?"
To take advantage of monitoring and on error events in Lambda, I can't seem to cause anything to show a Lamba error.

Could we talk through how to accomplish this with the projects example?

[code]

I've tried these:

[code]

<img width="469" alt="Screen Shot 2021-02-14 at 6 09 39 PM" src="https://user-images.githubusercontent.com/16245634/107893277-d5509800-6eef-11eb-9b7b-10f21a85d4f7.png">

[2021-02-15 12:10] stawecki commented on #171
This is an interesting issue, as there are a couple of things to consider:

### 1. What kind of errors you want to see as Lambda errors?
For example `res.error(403,'Not authorized')` is an error that indicates to the client that they don't have access to the resource, but your lambda has executed correctly. Whereas `throw new Error("errorResponse")` could be an unexpected issue in your code that's

[2021-02-18 16:20] cujarrett commented on #171
Whereas `throw new Error("errorResponse")` could be an unexpected issue in your code that's causing the lambda to be executed incorrectly, perhaps due to a database issue or an unexpected set of parameters. The first error is not as critical, since your lambda is working correctly. The latter is something you want to be alerted of, since it might point at a code or system issue that needs fixing.

[2021-02-18 16:20] #171 closed

[2021-02-21 09:46] Sleavely opened #172 "Middleware does not run for '/' route when using base paths"
When using a base path, the `/` path doesn't seem to run middleware properly.

I wrote a failing test case using CORS as an example to illustrate:

[code]

The route itself runs and returns `{ status: 'ok' }` but the CORS headers are missing. If the registered route is changed it works as expected:

[code]

Interestingly, the error middleware runs fine regardless of the route. If you remove the ro

[2021-02-22 15:54] thadeuk opened #173 "Catch errors in metrics"
I notice that api errors are not counted as errors in Cloudwatch metrics. I tested it also in Epsagon and it shows `success` even for functions that throw.

I've tried to get an error with the following code, they all return the correct HTTP code and message, but metrics does not catch them.
I have no middleware for errors.

[code]

[2021-02-22 16:05] stawecki commented on #173
@thadeuk Lambda API catches thrown errors and returns them as a "custom response" with an HTTP 500 status code, instead of crashing the lambda. There are drawbacks to letting your lambda fail for most of these errors. Check out my response to a similar issue here: https://github.com/jeremydaly/lambda-api/issues/171#issuecomment-779181905

Let me know, if you have any suggestions or other concerns.

[2021-02-22 22:08] thadeuk commented on #173
@stawecki I was using your method 3 (a), I've added a throw in middleware error function. I was trying to get the error as a 500 HTTP code with the throw message in it, instead of a generic message, but it seems I have to deal with it in another way. Anyway, thanks for sharing your response.

[2021-02-23 10:23] stawecki commented on #173
@thadeuk I haven't found any way so far and it doesn't seem like there is. If you look at [AWS docs - Handle Lambda errors in API Gateway](https://docs.aws.amazon.com/apigateway/latest/developerguide/handle-errors-in-lambda-integration.html) it states:

Also when editing the API in AWS panel, the "standard error" configuration found in "integration response" is disabled for Lambda proxy, so it see

[2021-02-27 04:27] gil2gm opened #174 "Method not allowed with method POST"
Hello, i need your help!

I have problem with the api, i use register like this
[code]

i not have problem with the method get, my problem are the methods POST, i proof the two forms, but any working

[code]

Always i have the same response:
[code]

[2021-03-01 21:45] stawecki commented on #174
Hi Gilberto,
The sample you've provided seems to work fine, when testing sample path `/v1/bot/selector`.
Perhaps the issue is somewhere else.
- Are you sure you're passing the bot.selector/bot.hermes handlers correctly?
- Are you sure you're testing the correct path?
- What are you using for invoking test events?
- Have you also tried printing all the routes with: `api.routes(true);`

Good luck!

[2021-03-03 13:02] VincentClair commented on #112
Seems to experience a similar problem with a middleware declare on `/path/:id/*`:

[code]

`corsMiddleware` is only executed on GET, but not POST.

[2021-03-03 22:44] ugurcemozturk opened #176 "Why to re-route within a lambda?"
Hi,
My question is basically about the motivation to use routing within a lambda.

Since one should apply the routing in gateway layer. When you migrate this logic to lambda, what is the purpose of Api Gateway?

For more than many cases, Api Gateway should take care the routing and request forwarding to lambdas since they are/should be the 'endpoints' with a single purpose.

I'm very willing the h

[2021-03-04 00:08] jeremydaly commented on #176
Hi @ugurcemozturk! Lambda API let’s you take multiple approaches, e.g. single purpose functions, lambdalith with multiple routes, or a combination. This package gives you a familiar express-like interface with a number of convenience methods to make writing API functions easier.

[2021-03-04 15:18] slootjes commented on #174
It seems I might have a similar issue. I'm using register() on multiple depths, to illustrate it's something like this:

api.js:

[code]

api/user.js:

[code]

api/user/app.js:

[code]

When I do a GET '/api/me/apps/myapp/data/user' which should match the route ':app/data/:scope/:key' however it generated this error:

MethodError: Method not allowed
    at REQUEST.parseRequest (/var/task/node_modu

[2021-03-04 16:09] alejuanito commented on #127
Hi, were you able to process a multipart / form-data file? is it possible to do it with this library?

[2021-03-04 16:10] alejuanito commented on #157
Hi, were you able to process a multipart / form-data file? is it possible to do it with this library?

[2021-03-04 16:23] sebastianDejoy commented on #157
Hey @alejuanito, yeap i was. The best approach is to use `presigned` urls that have a reasonable payload limit (50GB) as opposed to lambda/APIGW that is around 6MB.

I enabled an endpoint that return a presigned url:
[code]

Then your API consumers (mobile aps) can upload whatever file they want through that presigned url:
`curl -v --upload-file ${fileName} ${presigned_url}`

Make sure to grant ac

[2021-03-25 08:57] VincentClair commented on #176
Hi ! Here we group operations by resources : ANY method on resource A is handled by one handler. Lambda API take the hand to re-route event by method or url.

Example :
- `GET /companies/{id}/users` and `POST /users` are handled by the same lambda : Lambda API routes to each dedicated "sub" handlers.
- `GET /companies` on another lambda

[2021-03-25 19:41] #24 closed

[2021-03-25 19:42] #37 closed

[2021-03-25 19:42] #42 closed

[2021-03-25 19:44] #137 closed

[2021-03-25 19:45] #73 closed

[2021-03-25 19:46] #82 closed

[2021-03-25 19:47] #96 closed

[2021-03-25 19:48] #101 closed

[2021-03-25 19:48] #86 closed

[2021-03-25 19:50] #102 closed

[2021-03-25 19:51] #105 closed

[2021-03-25 19:52] #107 closed

[2021-03-25 19:52] #108 closed

[2021-03-25 19:52] #110 closed

[2021-03-27 02:21] gil2gm commented on #174
I found the problem, lambda-api not working with version 2.0 of api-gateway

[code]

api-gateway aws v1.0
[code]

api-gateway aws v2.0
[code]

Solution 1: configure api gateway aws with the version 1.0 or
Solution 2: temporal, set in handler function
[code]

[2021-03-27 08:30] slootjes opened #179 "Nested register and wildcards sometimes mess up"
I'm using register() on multiple depths, to illustrate it's something like this:

api.js:

[code]

api/user.js:

[code]

api/user/app.js:

[code]

When I do a GET '/api/me/apps/myapp/data/user' which should match the route ':app/data/:scope/:key' however it generated this error:

MethodError: Method not allowed
    at REQUEST.parseRequest (/var/task/node_modules/lambda-api/lib/request.js:247:13)

[2021-03-27 12:27] jeremydaly commented on #174
v0.11 supports Payload V2 and should be available shortly.

[2021-03-29 23:08] kevin-miles commented on #170
@joelrwilliams12 0.10.7 now has this built in.

Check out the PR here: https://github.com/jeremydaly/lambda-api/pull/178

Or now the documentation should be updated on how to approach.

[2021-04-21 16:49] hemanth1226 opened #180 "Question: Local storage (cls-hooked) setup to log request/response data"
Hi, I am trying to replace my existing express application with `lambda-api` and trying to see if i can achieve all the existing functionalities. I liked it so far but facing some challenges and i am looking for some help.

I am trying to use "https://www.npmjs.com/package/cls-hooked" in my project to store request and response data and log them. But i am facing issues integrating it. Do you have

[2021-04-27 15:54] austinfox commented on #106
I have a use case where I would like to use lambda-api for a series of lambdas API Gateway. For testing/development purposes, I am invoking the lambda directly using the AWS Lambda client. When I do invoke the handler directly (setting the logger to debug) I see that the "route" is undefined, which results in a "Method not allowed" response. Are there any current workarounds that might be able to

[2021-04-27 16:55] stawecki commented on #106
@austinfox If you want to invoke your lambda-api handler without using API Gateway, you can try passing an event object that is similar to the API Gateway format. The following examples should work a sample requests:
[code]
Sample POST request:
[code]
See [Input format of a Lambda function for proxy integration](https://docs.aws.amazon.com/apigateway/latest/developerguide/set-up-lambda-proxy-integ

[2021-05-04 14:39] QAnders commented on #136
First off, thanks for your hard work! Much appreciated!

Then... any update on this?
It would be really nice to get HTTP API v2.0 events working...

[2021-05-04 15:08] jeremydaly commented on #136
@QAnders, sorry for the delay. Payload V2 support is in the v0.11 branch, but I'm still trying to rework the execution stacks. There were some known errors that I've been trying to fix, but keep getting pulled away to other things. I'll try and shift focus and get it out this week.

[2021-05-04 15:09] QAnders commented on #136
Nice! Thanks so much!

For anyone waiting I added the below in my `handler.js` to be able to continue testing:

[code]

[2021-05-28 05:42] codyfyi commented on #112
I'm actually seeing an additional problem regarding this using a base path wildcard `/*`. I printed the `req.stack` to see what was going on with the execution stack:

[code]

The output:

[code]

The middleware is being added (and run) twice.

[2021-05-29 08:07] raja-vcomply opened #182 ""error": "Method not allowed""
When i am hitting the route its returning "method not allowed"

[2021-05-30 07:59] raja-vcomply commented on #182
@jthomerson @jeremydaly  help me pls

[2021-05-30 11:35] jeremydaly commented on #182
Hey @raja-vcomply!

Can you post some sample code?

[2021-06-09 23:28] codyfyi commented on #182
@raja-vcomply - I just ran into this too. I was using API Gateway V2, but it appears **lambda-api** won't support the v2.0 event payload format until `0.11` per this comment:

_Originally posted by @jeremydaly in https://github.com/jeremydaly/lambda-api/issues/174#issuecomment-808725167_

If this sounds like your case, you can force the API Gateway V2 to use the v1.0 payload format in the settings

[2021-06-10 11:49] Sleavely commented on #176
A subtle but important benefit at scale is that when you point multiple API Gateway routes to the same Lambda you can cache things in-memory, such as your database connection.

Consider this: If you have a lot of requests for `/product/{id}` but not so many requests to `/checkout`, the checkout lambda would have to boot up (cold start) and establish database connections more often, causing the che

[2021-06-16 17:58] SeriesOfUnlikelyExplanations opened #184 "Running locally"
Hi - I am writing a script that will allow me to run a lambda-api program locally (without using SAM, etc). Here is what I have so far:
https://github.com/SeriesOfUnlikelyExplanations/always-onward/blob/main/local.js

It's working great, except for a weird issue where I only get one cookie in the response despite setting 3 cookies in the lamba-api response. When I deploy it, I get all three cookie

[2021-06-17 13:55] Muthuveerappanv commented on #180
This is resolved by using the `cls-hooked:runPromise` option
[code]

[2021-06-17 13:56] #180 closed

[2021-06-17 13:57] hemanth1226 commented on #180
Thanks Muthu. This worked.

[2021-06-17 15:07] wigsaparelli commented on #136
Is payload V2 support now available?  Thanks

[2021-06-28 19:51] AlisonVilelaTenchi commented on #149
I have the same issue, did you find any solution?

[2021-06-28 19:52] AlisonVilelaTenchi commented on #149
@jeremydaly

[2021-07-01 03:46] bschwarz opened #185 "Question - Using Lambda-api with MySQL"
I am trying to use Lambda-api, and almost all of my routes will access a MySQL database (AWS RDS). Do you have a recommendation on how to set this up properly? I tried to wrap the DB connection and queries in a class that gets called from the routes, but it isn't working. Do you have any examples with Lambda-api using MySQL?

[2021-07-01 04:55] bschwarz opened #186 "feature - add Allow HTTP header to response for status code 405"
When lambda-api can not find a method for a path, it automatically sends back a HTTP 405 Method Not Allowed error, via MethodError. Per the [HTTP rfc 7231](https://datatracker.ietf.org/doc/html/rfc7231#page-59), the Allow header must be sent back with the 405 response. I purpose adding this to lambda-api. I believe it can introspect and get the allowed methods, correct?

Thanks!

[2021-07-01 04:56] bschwarz commented on #186
I can try to create a patch for this, if you just can point me in the right direction.

[2021-07-01 17:36] AndrewBarba opened #187 "Release 0.10.8 with Compression"
Looking to release latest code to NPM with compression:

https://github.com/jeremydaly/lambda-api#compression

[2021-07-02 03:00] bschwarz commented on #186
All I did was add the following line to requests.js, line 247:

`this.app._headers.allow = Object.keys(routes['METHODS']).join(',') || ''`

So the whole else block looks like this now:
[code]

I am not sure if that's the best approach or not. I can whip up a patch file, or do a pull request if that is more convenient for you.

[2021-07-02 12:51] brandonwestcott commented on #136
Would it be possible to cut https://github.com/jeremydaly/lambda-api/commit/13d6efc113d435785a45209c10b108995e70470b as its own release so we can get this feature public?

[2021-07-02 15:59] AndrewBarba commented on #187
Boom https://github.com/jeremydaly/lambda-api/releases/tag/v0.11.0

[2021-07-02 15:59] #187 closed

[2021-07-06 21:17] revbingo opened #189 "Brotli compression significantly slower than gzip"
I have enabled the automatic compression on responses, and have an endpoint that generates a various sized responses from a lambda running with 2048Mb of memory. Chrome's default `Accept-Encoding` header of `gzip,deflate,br` causes Brotli compression to be used as the priority, but this is consistently noticeably slower than when gzip is forced.

The table below shows compressed sizes and response

[2021-07-06 22:57] jeremydaly commented on #189
Thanks, @revbingo. I’ll take a look. @AndrewBarba, any thoughts on this?

[2021-07-07 03:39] AndrewBarba commented on #189
My understanding is Brotli is much more CPU intensive than gzip. It does provide better compression (as noted in your table) but perhaps it should not be enabled from the Node process and is much more suited to be done at the edge in a more optimized runtime.

I definitely should have done more testing on this before making Brotli the priority. My recommendation would be to only include gzip and d

[2021-07-07 03:56] AndrewBarba commented on #189
@jeremydaly @revbingo PR here https://github.com/jeremydaly/lambda-api/pull/190

[2021-07-07 07:03] revbingo commented on #189
Thanks for the quick work @AndrewBarba !

[2021-07-12 13:58] SeriesOfUnlikelyExplanations commented on #184
@jeremydaly - Do you mind taking a look at this one? I believe it has something to do with how Node overwrites duplicate values when creating an object.

[2021-07-12 16:49] SeriesOfUnlikelyExplanations commented on #184
Figured it out. Needed to send multiValueHeaders in the request to get multiValueHeaders in the response.

[2021-07-12 16:49] #184 closed

[2021-07-17 02:58] amazonmattwen commented on #182
If I understand the situation correctly @codyfyi, I believe it does support v2.0 events. Your code should be this.

`const app = api.default({version: 'v2.0'});`

[2021-07-17 15:36] mladibejn opened #191 "Typings for run method and ApiGateway v2"
I've updated to 0.11 that supports v2 payload, however with Typescript, the type is still v1.

Would it be possible to provide a run method with support for APIGatewayProxyEventV2? :) To remove the ugly @ts-ignore

Thanks!

[2021-08-13 00:04] adworacz opened #192 "[Feature Request] Add support for aws-sdk-js-v3 (modularization!)"
Just wanted to open this up, since `lambda-api` prides itself on being "zero dependencies".

When starting out on a new project with `lambda-api`, I realized that my build started failing because there *is* a dependency, on the `aws-sdk`. Unfortunately, webpack can only do so much with the older v2 version of the `aws-sdk`, and my Lambda size has ballooned to 6.5MB with basically no code.

The [v3

[2021-08-16 17:11] gakinson commented on #159
Has been merged in

[2021-08-16 17:11] #159 closed

[2021-08-23 13:13] davthedev commented on #185
This is what I am doing and I actually need to write some code to do the handover from the API to the database. This is how I can do data validation, check for required fields, etc... before handing over to the database.

Sequelize is my my preferred ORM for that. I use an Aurora Serverless instance running MySQL and the Data API to avoid the complex management of "traditional" RDS connections tha

[2021-08-23 13:24] davthedev commented on #176
There is a cost in managing multiple lambdas that would hit the same data source.
If you share code between the different lambdas, that part would need to be packaged into a Lambda layer to avoid code duplication. Maintaining such a layer seems to add significant complexity.

This is the case if you use a SQL database and an ORM such as Sequelize to abstract access to it. The entities configuratio

[2021-09-03 00:41] adworacz opened #193 "Typescript types for `type` is incorrect, should be "this""
https://github.com/jeremydaly/lambda-api/blob/fc93110a8b9766c93a953deea67d13b9637519d2/index.d.ts#L197

https://github.com/jeremydaly/lambda-api/blob/2224ddf383e49285e9246e34409a39fec1fa57b5/lib/response.js#L407-L413

The current Typescript types for `Response.type` are incorrect, which breaks the ability to chain. Should be `this` instead.

[2021-09-03 00:43] adworacz commented on #193
Actually looks like this is fixed by https://github.com/jeremydaly/lambda-api/pull/181

Can we get this merged?

[2021-09-04 03:01] warapitiya commented on #192
You don't need to bundle `aws-sdk` into the lambda. AWS lambda node runtime comes with `aws-sdk` module pre-installed.

[2021-09-07 17:33] adworacz commented on #192
@warapitiya Got it. I just tested this out using Webpack [Externals](https://webpack.js.org/configuration/externals/).

Made the following change in my `webpack.config.js` file:
[code]

[2021-09-22 17:30] guruprakashIT opened #194 "CORS issues , preflight is working"
i tried all method , but still exist cors issue,
in my case preflight connection working properly it returns 200
But actual response fail

here , my code is
`const app = require("lambda-api")();
app.use((req, res, next) => {
  res.cors();
  next();
});
app.get("/connect", async (req, res) => {
  return res.send({ status: "testing" });
});

app.options("/*", (req, res) => {
  res.cors();
  return r

[2021-10-01 00:45] Hulle107 opened #195 "Missing async/await on ErrorHandlingMiddleware"
Hej love the package so far.

But have found that you do not really do promise for `Error Handling Middleware` the same way as you do other middleware.
This is what I think could help in that regard.

Suggestion: `index.js`
[code]

As seen you could implement it the same way as you do for other middleware.
IF there is a reason for not do it this way I really wanna know.

[2021-10-01 10:47] ahperlego commented on #153
@thiagotigaz Hi there,

Have you managed to implement the path based API versioning?

If so, I would like to know a bit more about your approach to it. I have somewhat similar requirements as you mentioned.

Thanks in advance!

Anwaar

[2021-10-15 14:31] zidingz opened #196 "How to get in touch regarding a security concern"
Hey there!

I belong to an open source security research community, and a member (@yetingli) has found an issue, but doesn’t know the best way to disclose it.

If not a hassle, might you kindly add a `SECURITY.md` file with an email, or another contact method? GitHub [recommends](https://docs.github.com/en/code-security/getting-started/adding-a-security-policy-to-your-repository) this best practic

[2021-10-16 12:44] sarodspirit opened #197 "Add a context"
Hey, im loving lambda-api so far.
Quick question, is there a way to add a context to handlers ?
Let's say
`
app.get("/posts", getPosts);
async function getPosts(req,res,context){
const prisma = context.prisma;
return prisma.posts.findMany({});
}
`
And this is basically for code splitting

[2021-10-20 11:53] #189 closed

[2021-11-04 04:29] warapitiya commented on #197
You can use `req.context` to retrieve the context object.

[2021-11-30 00:21] MattCopenhaver commented on #138
This would definitely be a nice addition.

[2021-12-02 14:55] #170 closed

[2021-12-02 14:55] joelrwilliams12 commented on #170
Works great, thanks!

[2021-12-20 13:31] benheymink commented on #136
@jeremydaly Any update on this? Any help needed?

[2021-12-22 13:54] jeremydaly commented on #136
v2 payload support was added in v0.11. Let me know if you are having issues.

[2021-12-22 13:54] #136 closed

[2022-01-25 22:47] jaimalchohan opened #199 "TS: Logger type does not support Additional Info"
The LoggerFunction doesn't allow a additional info to be passed in

LoggerFunction: https://github.com/jeremydaly/lambda-api/blob/main/index.d.ts#L62
Additional info in README: https://github.com/jeremydaly/lambda-api#adding-additional-detail

This means that in my typescript project, I can't pass a string or object that has additional info to be logged.
I don't know enough about TS to suggest a f

[2022-02-08 11:41] warrickhill commented on #195
We are having the same issue. @Hulle107 your code above fixed it for us, have you made a PR for it?

[2022-02-08 11:45] yidah commented on #195
I also had the same error and spent considerable amount of time finding the solution. Thanks for your code @Hulle107. I hope this can be fixed soon.

[2022-02-08 11:57] warrickhill commented on #195
Made a PR with @Hulle107 code

[2022-02-28 14:49] then3rdman opened #202 "Is this project active?"
First off, this project looks amazing! However there seems to be a lot of open PRs and issues (some almost a year old).

Is this project still actively maintained? If I decide to use this library I will very happily be contributing but don't want to commit to a project that might have been left behind.

Thanks for any responses on advanced!

[2022-02-28 15:00] jeremydaly commented on #202
Yes, the project is active with quite a bit of usage. Most of the PRs have been TypeScript related and require some attention. I am the sole maintainer and have been extremely busy with my full-time job over the last year+, but I am shuffling things around to get some more time put into my open source projects. Any help is always appreciated.

[2022-02-28 15:00] #202 closed

[2022-02-28 15:03] then3rdman commented on #202
Awesome! I would be using TS so would be more than happy to jump in and help out where possible

[2022-04-01 11:23] a-game opened #204 "Error type names are not preserved when using code bundlers"
When using `lambda-api` together with some code bundler like `rollup` class names are rewritten to avoid duplicates.

The class `RouteError` will for example be rewritten to something like this:
[code]

The use of `this.name = this.constructor.name` will make it so that `error.name` will be `"RouteError$1"` and not `"RouteError"`

The result of this is that you can't use the `error.name` property

[2022-04-07 13:41] GuidoNebiolo opened #206 "Support for Lambda Function URLs"
It will be very useful to handle the event input from Lambda Function URLs: https://aws.amazon.com/it/about-aws/whats-new/2022/04/aws-lambda-function-urls-built-in-https-endpoints/

Blog Post: https://aws.amazon.com/it/blogs/aws/announcing-aws-lambda-function-urls-built-in-https-endpoints-for-single-function-microservices/

It should be very similar to the API Gateway event format.

[2022-04-07 13:42] jeremydaly commented on #206
I'm actually working on this RIGHT NOW. The payload format is the same (API Gateway v2), but I'm verifying a few things.

[2022-04-07 14:12] jeremydaly commented on #206
The current version is fully compatible! 🙌

[2022-04-23 01:45] sean-hernon opened #208 "Error logging is called even when handled in custom handler."
When the error logging is enabled, it is called even when the error is handled in a custom error handler middleware.

This is unintuitive for several reasons. Consider the following case.

[code]

In this case, the first thing we see in the logs is something like `INFO	{"level":"fatal",..."statusCode":500}`.

Clearly the error is not something that we would consider to be fatal, as we handle it an

[2022-04-26 14:51] sean-hernon commented on #195
There are actually two issues here -- one is that the asynchronous error handlers were not supported (fixed in PR with async / await addition).

The other is that the promise was only being resolved in the `next` function. Which leads to some unidiomatic code. This is the problem that I encountered, which I will illustrate here, for anyone that may be experiencing the same problem.

It's normally

[2022-05-01 15:12] smashercosmo commented on #199
@jeremydaly can we get one of these PRs merged?

[2022-05-06 23:48] ammulder commented on #158
I too wish that `finally` could take an async function.  I put the MySQL pool (from, ahem, jeremydaly/serverless-mysql) into a request field, and `finally` gets passed the request object, so it would be the better way to clean up afterward.

For now, instead, I keep the pool in a global variable and assign it to the request but clean up in the handler function:
[code]

[2022-07-18 05:44] LyndonHook opened #209 "Typescript type for rawBody doesn't align with APIGatewayProxyEventBase body"
The `REQUEST.rawBody` is the same as the lambda event body which should be `string | null` but is defined as `string` in the type definition.

https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/aws-lambda/trigger/api-gateway-proxy.d.ts#L117

https://github.com/jeremydaly/lambda-api/blob/main/index.d.ts#L146

Can it be updated to match? I'm happy to raise pull request.

[2022-08-28 15:31] GuidoNebiolo commented on #197
Hi @tcarac
you can do this assigning the service you want directly to app during initialization.

example:
`const api = require('lambda-api')()`
`api.services = {prisma}`
`api.post('/', async (req, res) => { const prisma = api.services.prisma; return prisma.posts.findMany({});}`

[2022-09-06 16:32] ptejada commented on #191
Any volunteers? This should be a quick PR. No?

[2022-09-13 05:39] napter opened #211 "Is the project maintained"
Hi,

First of all thank you Jeremy for this project and dynamodb toolbox. Both are incredibly useful tools. I was wondering if this project is still maintained.

What other routing packages / middleware are people using?

[2022-10-01 02:15] farqis commented on #176
With many real-life projects you will very soon hit resources limit (500) on cloud formation stack if you try to create individual lambda functions for every end-point. (The limit used to be 200 until recently!)

Introducing routers enables you to combine them into a few lambdas only, thus reducing the number of resources, and resolving cold-start issues as well.

[2022-10-01 05:28] cshenrik commented on #192
As Yan Cui describes [here](https://theburningmonk.com/2019/09/should-you-pack-the-aws-sdk-in-your-deployment-artefact/), you should probably bundle the aws sdk instead of relying on the one provided by the Lambda runtime.

[2022-10-01 05:38] cshenrik commented on #211
I really enjoy using lambda-api (thank you for the awesome work, @jeremydaly!), but like the OP, I’m worried that it is no longer maintained.

I would also like to know if there are alternatives with a larger community. I have on my TODO to give [Middy’s http router](https://middy.js.org/docs/routers/http-router)  a spin.

[2022-10-07 12:37] capndave commented on #174
@jeremydaly we're unable to `POST` (and perhaps to put?) when running locally using Node 16, but Node 14 works fine. Is that consistent with the Payload V2 thing? Could our failure be related to the type of payload?

[2022-10-08 12:39] jeremydaly commented on #174
Strange the Node version would be causing a problem unless it has something to do with the `body` parser. Shouldn't have anything to do with the payload format.

[2022-10-18 00:58] josegamboa commented on #127
did you guys were able to use multipart/form-data?
I am having this issue:
{
    "statusCode": 415,
    "code": "FST_ERR_CTP_INVALID_MEDIA_TYPE",
    "error": "Unsupported Media Type",
    "message": "FST_ERR_CTP_INVALID_MEDIA_TYPE: Unsupported Media Type: multipart/form-data; boundary=--------------------------053497661370893260848496"
}

[2022-10-30 18:16] ptejada commented on #204
I encountered a similar issue with `esbuild` where the name attributes are stripped from classes when minimized. I don't know if the linked PR will solve the problem but I propose exporting the error classes instead. So ideally we can do class checking instead of name checking
[code]

if anything the exporting of the error might be a bug because the error types are defined in [index.d.ts](https://

[2022-11-19 15:46] joelrwilliams12 opened #213 "AWS Lambda with Node 18.x and SDK v3 throws errors"
Currently lambda-api loads 'aws-sdk' in /lib/s3-service.js.

This fails with Node.js 18.x Lambda functions which are pre-loaded with SDK v3 and requires new syntax for loading SDK modules.

This throws the following error:
[code]

New syntax should be something like:

[code]

Documentation: https://docs.aws.amazon.com/AWSJavaScriptSDK/v3/latest/modules/_aws_sdk_s3_request_presigner.html